<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<form-message></form-message>
	<oauth-banner></oauth-banner>
	<div class="shadowcontainer">
		<h2 class="u-text-h3-bold" i18n>Verify your email address</h2>
		<p class="u-text-body u-margin-top1x" i18n>Welcome to {{ service }}!</p>
		<p class="u-text-body u-margin-top4x" i18n>We have sent you a verification email <strong class="u-text-bold">{{ email }}</strong> sent.
		</p>
		<p class="u-text-body u-margin-top2x" i18n>
			Click the URL to complete the registration process. If you don't receive the email in a few minutes, check your spam folder.
			If you still can't find the email, then	<a class="u-text-link" [href]="helpEmailUrl">write us</a>.</p>
	</div>
</div>
