<ng-container>
	@if (networks().length == 0) {
		<p class="tw-mt-8 tw-mb-2 tw-flex tw-text-lg tw-flex-col tw-text-oebblack">
			<span class="tw-font-bold" [innerHTML]="'Network.noIssuerInNetwork' | translate"></span>
			<span class="tw-mt-1" [innerHTML]="'Network.networksUseBadgesTogether' | translate"></span>
			<span [innerHTML]="'Network.networkLogoOnBadge' | translate"></span>
			<span
				class="tw-mt-3 tw-italic tw-text-purple"
				[innerHTML]="'Network.youCanAddInstitutions' | translate"
			></span>
		</p>
		<oeb-button
			[routerLink]="['/issuer/networks/create']"
			[disabled-when-requesting]="true"
			[text]="'Network.create' | translate"
		></oeb-button>
	} @else {
		<span class="tw-mt-8 tw-flex tw-text-oebblack tw-text-[22px]">{{
			'Issuer.yourIssuersAreInNetworks' | translate
		}}</span>
		<div class="md:tw-flex tw-mt-4">
			<div class="tw-grid tw-grid-cols-myIssuersMobile sm:tw-grid-cols-myIssuers tw-gap-6 tw-w-full tw-relative">
				@for (network of networks(); track network) {
					<oeb-networkcard
						[public]="false"
						[network]="network"
						[routerLink]="['/issuer/networks', network.slug]"
					>
					</oeb-networkcard>
				}
			</div>
		</div>
	}
</ng-container>
