<form-message></form-message>
<ng-template [showLoader]="true" [bgAwaitPromises]="[badgesLoaded]">
    <app-my-stepper>
        <cdk-step label="Lernpfad Details" [stepControl]="lpDetailsForm" [optional]="false">
            <div class="tw-mt-6 md:tw-mt-7 section oeb-section">
                <h2 hlmH2 class="tw-font-bold">1. {{ 'LearningPath.enterDetails' | translate }}</h2>
    
    
                <oeb-input
                    label="1. Lernpfad-Titel"
                    [control]="lpDetailsForm.rawControlMap.name"
                    [autofocus]="true"
                    [errorMessage]="{
                        required: 'Required'
                    }"
                    sublabelRight="(max 60 Zeichen)"
                ></oeb-input>
                <oeb-input
                    label="2. Kurz-Beschreibung für Lernende"
                    [control]="lpDetailsForm.rawControlMap.description"
                    [fieldType]="'textarea'"
                    sublabelRight="(max 700 Zeichen)"
                    placeholder="{{ 'LearningPathEditor.shortDescription' | translate }}"
                ></oeb-input>
    
                <div class="tw-mt-6 md:tw-mt-7 tw-relative" id="imageSection" #imageSection>
                    <!-- <span class="input-label md:tw-flex-[0_0_10em]"> Badge-{{ 'Issuer.image' | translate }}</span> -->
                    <span hlmP class="tw-text-oebblack tw-font-semibold" [innerHTML]="'3. Lernpfad-Bild'"></span>
                    <div
                        class="tw-flex tw-flex-col tw-gap-4 md:tw-flex-row tw-bg-white tw-p-8 tw-justify-evenly tw-items-center tw-mr-auto tw-rounded-2xl tw-h-fit tw-border tw-border-solid tw-border-purple"
                    >
                        <div class="tw-bg-[var(--color-lightpink)] tw-p-4 tw-rounded-[10px]">
                            <bg-formfield-image
                                #imageField
                                [label]="useOurEditor"
                                [sublabel]="imageSublabel"
                                [text_body]="selectFromMyFiles"
                                dropZoneInfo1="Drag & Drop"
                                [dropZoneInfo2]="chooseFromExistingIcons"
                                imageLoaderName="badge"
                                [newDropZone]="true"
                                [generateRandom]="false"
                                [type]="'badge'"
                                [allowedFileFormats]="allowedFileFormats"
                                (generateRandomImage)="generateRandomImage()"
                                (imageUploaded)="generateUploadImage($event, lpDetailsForm.value)"
                                [placeholderImage]="badgeClassPlaceholderImageUrl"
                                [control]="lpDetailsForm.rawControlMap.badge_image"
                                [errorMessage]="imageErrorFork"
                            >
                        </bg-formfield-image>
                            <span class="tw-italic tw-text-sm md:tw-flex md:tw-justify-center md:tw-items-center"
                                >{{ 'General.fileformats' | translate }}: SVG {{ 'General.and' | translate }} PNG</span
                            >
                        </div>
                        <span>{{ 'General.or' | translate }}</span>
                        <hr class="md:tw-hidden tw-my-8 tw-w-full tw-border tw-border-[var(--color-purple)] tw-border-dashed" />
                        <div class="tw-bg-[var(--color-lightpink)] tw-p-4 tw-rounded-[10px]">
                            <bg-formfield-image
                                #customImageField
                                [label]="useOwnVisual"
                                [sublabel]="uploadOwnDesign"
                                text_body="{{'RecBadge.uploadOwnVisual' | translate}}"
                                imageLoaderName="basic"
                                [newDropZone]="true"
                                [type]="'badge'"
                                [allowedFileFormats]="allowedFileFormatsCustom"
                                [generateRandom]="false"
                                (generateRandomImage)="generateRandomImage()"
                                (imageUploaded)="generateCustomUploadImage($event)"
                                [placeholderImage]="badgeClassPlaceholderImageUrl"
                                [control]="lpDetailsForm.rawControlMap.badge_customImage"
                                [errorMessage]="imageErrorFork"
                            > 
                            </bg-formfield-image>
                            <span class="tw-italic tw-text-sm md:tw-flex md:tw-justify-center md:tw-items-center"
                                >{{ 'General.fileformats' | translate }}: PNG</span
                            >
                        </div>
                        <badge-studio
                            [scrolled]="scrolled"
                            #badgeStudio
                            [formData]="lpDetailsForm.value"
                            [hidden]="true"
                        ></badge-studio>
                    </div>
                </div>
                <p
				hlmP 
				size="sm"
				id="imageTextError"
				[hidden]="!imageFieldDirty || !lpDetailsForm.hasError('imageRequired') "
				class="tw-font-normal md:tw-pl-[13.5rem] u-text-error"
			>
				{{'CreateBadge.imageRequiredError' | translate }}.
			</p>
			<p
				hlmP 
				size="sm"
				[hidden]="!isCustomImageLarge"
				class="tw-font-normal md:tw-pl-[13.5rem] u-text-error"
			>
				{{ 'CreateBadge.imageTooLarge' | translate }}.
			</p>
            </div>
        </cdk-step>
        <cdk-step label="Badges auswählen" [stepControl]="lpBadgesForm" [optional]="false">
            <div class="tw-mt-6 md:tw-mt-7 oeb-section section">
                <h2 hlmH2 class="tw-font-bold">2. {{ 'LearningPath.chooseBadges' | translate }}</h2>
                    
                <div class="tw-m-12 tw-rounded-2xl tw-p-6 tw-bg-[var(--color-lightpink)]">
                    <p class="tw-flex tw-flex-col tw-gap-2 tw-text-oebblack">
                        <span>{{ 'LearningPath.combineBadgeCategories' | translate}}</span>
                        <span> {{ 'LearningPath.min3Badges' | translate }}</span>
                    </p>
                    <div class="tw-flex tw-gap-2">
                        <hlm-icon class="tw-text-purple tw-font-bold tw-bg-white tw-mr-4 tw-shrink-0" name="lucideCircleAlert" />
    
                        <p class="tw-text-purple">
                            {{ 'LearningPath.chooseBadgesInfo' | translate }}
                        </p>
    
                    </div>
                    <div class="tw-flex ">
                        <!-- Search  -->
                        <div class="tw-pb-2 md:tw-pb-0">
                            <input
                                type="text"
                                name="forminput"
                                changeOrder
                                class="tw-w-[300px] tw-border-solid tw-border-purple tw-bg-white tw-mr-6"
                                placeholder="{{ 'Badge.searchBadges' | translate }}"
                                [(ngModel)]="searchQuery"
                                [ngModelOptions]="{ standalone: true }"
                                hlmInput
                            />
                        </div>
    
                        <div class="l-actionbar-x-groupby">
                            <label class="l-flex l-flex-2x">
                                <span id="badge-catalog-select-label">{{ 'Badge.groupBy' | translate }} </span>
                                <div class="forminput">
                                    <div class="forminput-x-inputs">
                                        <select
                                            [(ngModel)]="groupBy"
                                            #selectInput
                                            class="border"
                                            [ngModelOptions]="{ standalone: true }"
                                            id="badge-catalog-select"
                                        >
                                            <option *ngFor="let option of groups" [value]="option">
                                                {{ option }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                    <ng-container *ngIf="groupBy == '---'">
                        <div class="tw-grid tw-grid-cols-badges tw-gap-16">
                            <bg-badgecard
                                *ngFor="let badge of badgeResults; let i = index"
                                [badgeTitle]="badge.name"
                                [badgeImage]="badge.image"
                                [badgeDescription]="badge.description"
                                [badgeSlug]="badge.slug"
                                [issuerTitle]="
                                    badge.issuerName
                                        ? badge.issuerName
                                        : badge.issuer.name
                                "
                                [badgeIssueDate]="badge.createdAt"
                                public="true"
                                [publicUrl]="badge.url"
                                [badgeClass]="true"
                                [issuerSlug]="badge.issuerSlug"
                                [competencies]="
                                    badge.extension['extensions:CompetencyExtension']
                                "
                                (ngModelChange)="checkboxChange($event, badge)"
                                [(checked)]="badgeCardChecked"
                                (checkboxChange)="checkboxChange($event, badge.url)"

                            ></bg-badgecard>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="groupBy == 'Kategorie' || groupBy == 'Category'">
                        <ng-container *ngFor="let categoryGroup of badgeResultsByCategory">
                            <h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">
                                {{ categoryOptions[categoryGroup.category] }}
                                <span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x"
                                    >{{ categoryGroup.badges.length }}
                                    {{ categoryGroup.badges.length == 1 ? 'Badge' : 'Badges' }}</span
                                >
                            </h3>
                            <div class="tw-grid tw-grid-cols-badges tw-gap-16">
                                <!-- TODO: Fix the badgecard link for sharing and routing -->
                                <bg-badgecard
                                    *ngFor="let badge of categoryGroup.badges"
                                    [badgeTitle]="badge.name"
                                    [badgeImage]="badge.image"
                                    [badgeDescription]="badge.description"
                                    [badgeSlug]="badge.slug"
                                    [issuerTitle]="badge.issuerName ? badge.issuerName : badge.issuer.name"
                                    [badgeIssueDate]="badge.createdAt"
                                    public="true"
                                    [publicUrl]="badge.url"
                                    [badgeClass]="true"
                                    [competencies]="badge.extension['extensions:CompetencyExtension']"
                                ></bg-badgecard>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="groupBy == 'Issuer'">
                        <ng-container *ngFor="let issuerGroup of badgeResultsByIssuer">
                            <h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">
                                {{ issuerGroup.issuerName }}
                                <span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x">{{
                                    issuerGroup.badges.length }}
                                    {{ issuerGroup.badges.length == 1 ? 'Badge' : 'Badges' }}</span>
                            </h3>
                            <div class="tw-grid tw-grid-cols-badges tw-gap-16">
                                <!-- TODO: Fix the badgecard link for sharing and routing -->
                                <bg-badgecard *ngFor="let badge of issuerGroup.badges" [badgeTitle]="badge.name"
                                    [badgeImage]="badge.image" [badgeDescription]="badge.description"
                                    [badgeSlug]="badge.slug"
                                    [issuerTitle]="badge.issuerName ? badge.issuerName : badge.issuer.name"
                                    [badgeIssueDate]="badge.createdAt" public="true" [publicUrl]="badge.url"
                                    [badgeClass]="true" [competencies]="badge.extension['extensions:CompetencyExtension']"></bg-badgecard>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </cdk-step>
            <cdk-step label="Badge-Reihenfolge">
                <div class="tw-mt-6 md:tw-mt-7 oeb-section section">
                    <h2 hlmH2 class="tw-font-bold">3. {{ 'LearningPath.badgeSequence' | translate }}</h2>
                    <div class="tw-m-12 tw-rounded-2xl tw-p-6 tw-bg-[var(--color-lightpink)]">
                        <p hlmP class="tw-text-oebblack tw-text-[18px] tw-leading-[23.4px] tw-italic" [innerHtml]="'LearningPath.dragDropInfo' | translate">
                        </p>
                        <ol class="tw-grid tw-grid-cols-1">
                            <li
                                class="tw-list-decimal tw-mt-2"
                                *ngFor="let item of draggableList; let i = index"
                                
                            >
                                <div class="md:tw-w-[392px]" dndDraggable
                                [dndDraggable]="item"
                                (dndDrop)="onDrop($event, i, draggableList)"
                                [dndDropzone]="{ allowedTypes: ['item-type'] }">
                                    <bg-badgecard
                                        [badgeTitle]="item.name"
                                        [badgeImage]="item.image"
                                        [badgeDescription]="item.description"
                                        [badgeSlug]="item.slug"
                                        [issuerTitle]="item.issuerName"
                                    >
                                    </bg-badgecard>
                                </div>
                            </li>
                        </ol>
                        <!-- <ul>
                        <li *ngFor="let item of draggableList; let i = index"  
                            dndDraggable
                            [dndDraggable]="item"
                            (dndDrop)="onDrop($event, i, items)"
                            [dndDropzone]="{ allowedTypes: ['item-type'] }"
                            class="tw-list-decimal">
                            <div>
                            {{item.content.name}}
                            </div> -->
                        <!-- <div  [dndDraggable] dndEffectAllowed="move" (dndMoved)="onDragged(item, draggableList, 'move')"> -->
                        <!-- <bg-badgecard
                                    [badgeTitle]="item.content.name"
                                    [badgeImage]="item.content.image"
                                    [badgeDescription]="item.content.description"
                                    [badgeSlug]="item.content.slug"
                                    [issuerTitle]="item.content.issuerName ? item.content.issuerName : item.content.issuer.name"
                                    [badgeIssueDate]="item.content.createdAt"
                                    public="true"
                                    [publicUrl]="item.content.url"
                                    [badgeClass]="true"
                                    [issuerSlug]="item.content.issuerSlug"
                                    [competencies]="item.content.extension['extensions:CompetencyExtension']"
                                    [checkboxControl]="true">
                                </bg-badgecard> -->
                        <!-- </div> -->
                        <!-- </li>
                    </ul> -->
                    </div>
                </div>
        </cdk-step>
        <cdk-step>
                <div class="tw-mt-6 md:tw-mt-7 oeb-section tw-bg-[var(--color-lightgray)] tw-rounded-[25px] tw-p-[1.8em] tw-mb-[1.8em]">
                    <h2 hlmH2 class="tw-text-purple tw-flex tw-gap-2"> 
                        <span class="tw-italic">Optional:</span>
                        <span>{{ 'LearningPath.addTag' | translate }}</span>
                    </h2>
                    <p hlmP class="tw-italic" [innerHtml]="'CreateBadge.tagInfo' | translate">
                    </p>
        
                    <div class="tw-flex tw-gap-2 oeb">
                        <div class="tw-flex tw-gap-4 tw-items-center tw-mb-2">
                            <span class="tw-font-semibold tw-text-lg tw-text-oebblack tw-uppercase"> Tag</span>
            
                            <div class="ng-autocomplete">
                                <ng-autocomplete
                                    name="addtag"
                                    id="addtag"
                                    #newTagInput
                                    [data]="existingTags"
                                    maxlength="50"
                                    [isLoading]="existingTagsLoading"
                                    searchKeyword="name"
                                    [placeholder]="'Einen Tag eingeben'"
                                    (keypress)="handleTagInputKeyPress($event)"
                                    [itemTemplate]="itemTemplate"
                                    [notFoundTemplate]="notFoundTemplate"
                                >
                                </ng-autocomplete>
            
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.name"></a>
                                </ng-template>
            
                                <ng-template #notFoundTemplate let-notFound>
                                    <div>{{ 'CreateBadge.tagDoesNotExist' | translate }}</div>
                                </ng-template>
                            </div>
                            <oeb-button 
                            size="sm"
                            type="button" 
                            (click)="addTag()" 
                            text="{{ 'General.add' | translate }}">
                        </oeb-button>
                        </div>
        
                    </div>
        
                </div>
        
                <div class="tw-mt-6 md:tw-mt-7 oeb-section section">
                    <h2 hlmH2 class="tw-font-bold">{{ 'LearningPath.lpParticipationBadge' | translate }}</h2>
                    <p class="tw-text-[18px] tw-mt-2 tw-leading-[23.4px] tw-italic" hlmP [innerHtml]="'LearningPath.lpParticipationBadgeInfo' | translate"></p>
                    <p hlmP class="tw-text-[18px] tw-mt-2 tw-leading-[23.4px] tw-italic tw-font-bold" [innerHtml]="'LearningPath.lpDerivedData' | translate"></p>
                    <div class="tw-mt-6 tw-flex tw-gap-6">
                        <div class="tw-bg-white tw-border-purple tw-border-solid tw-border tw-rounded-[10px] tw-w-[260px] tw-h-[190px]">
        
                        </div>
                        <div class="tw-flex tw-flex-col tw-gap-2">
                            <h3 hlmH3 class="tw-text-oebblack tw-font-bold tw-uppercase tw-text-[18px] tw-leading-[21.6px]">Titel</h3>
                            <span> {{lpDetailsForm.rawControlMap.name.value}}</span>
        
                            <h3 hlmH3 class="tw-text-oebblack tw-font-bold tw-uppercase tw-text-[18px] tw-leading-[21.6px]">Kurz-Beschreibung</h3>
                            <span> {{lpDetailsForm.rawControlMap.description.value}}</span>
        
                        </div>
                    </div>
        
                    
        
                </div>
        </cdk-step>
      </app-my-stepper>

<form [formGroup]="learningPathForm.rawControl" #formElem (ngSubmit)="onSubmit()" novalidate>
    <div class="tw-flex tw-justify-between tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-8">
        <!-- <button type="button" [disabled]="selectedStep == 0" class="tw-w-12 tw-cursor-pointer" (click)="previousStep()">
            <hlm-icon size="xl" class="tw-text-purple tw-box-border" name="lucideStepBack"></hlm-icon>
        </button> -->
        <oeb-button
        [disabled]="selectedStep == 0"  
         type="button"
         width="max_content"
         text="Zurück"
         icon="lucideStepBack"
         (click)="previousStep()"
         > 
         </oeb-button>
        <div class="tw-flex">
        <oeb-button
            class="tw-mr-4"
            variant="secondary"
            (click)="cancelClicked()"
            [disabled-when-requesting]="true"
            text="{{ 'General.cancel' | translate }}"
        ></oeb-button>

        <oeb-button
            type="submit"
            width="max_content"
            [disabled]="!!savePromise"
            [loading-promises]="[savePromise]"
            loading-message="{{ submittingText }}"
            text="{{ (existingLearningPath ? 'General.saveChanges' : 'Issuer.myInstitutionsCreateLearningPath') | translate }}"
            >
        </oeb-button>
        <button type="button" [disabled]="selectedStep == 3" class="tw-w-12 tw-cursor-pointer" (click)="nextStep()">
            <hlm-icon class="tw-text-purple tw-box-border md:tw-w-[22px] tw-w-[16px] md:tw-h-[22px] tw-h-[16px]" name="lucideStepForward"></hlm-icon>
        </button>
    </div>
        <!-- <oeb-button
        [disabled]="selectedStep == 3"  
         type="button"
         width="max_content"
         text="Weiter"
         (click)="nextStep()"
         >
        </oeb-button> -->
    </div>
</form>
</ng-template>