<ng-container *bgAwaitPromises="[partnersLoaded]">
	@if (!issuers.length) {
		<div class="tw-my-8">
			<span class="tw-text-oebblack tw-text-lg tw-block">{{ 'Network.noInstitutionAddedYet' | translate }}</span>
			<oeb-button (click)="openDialog()" [text]="'Network.inviteInstitutions' | translate"> </oeb-button>
		</div>
	} @else {
		<network-partners-datatable [network]="network" [partners]="issuers"></network-partners-datatable>
	}
	@if (invites.length) {
		<network-invites-datatable [network]="network" [invites]="invites"></network-invites-datatable>
	}
</ng-container>
