<div class="oeb tw-relative tw-w-full" *ngIf="learningPath">
	<ng-template [bgAwaitPromises]="[issuerLoaded, badgeLoaded]">
		<div class="oeb-section tw-bg-lightpurple">
			<div class="page-padding tw-flex tw-justify-between tw-flex-wrap tw-gap-8">
				<div>
					<div class="oeb-headline-container">
						<h1 class="tw-text-oebblack tw-font-extrabold" hlmH1>{{learningPath.name}}</h1>
						<p size="sm" hlmP
							class="tw-text-oebblack">
							Lernpfad von <a hlmA [routerLink]="['/public/issuers/', issuer.slug ]">{{issuer.name}}</a>
						</p>
					</div>
					<form (ngSubmit)="participate()" novalidate>
						<oeb-button hlmBtn type="submit" [text]="participationButtonText"></oeb-button>
					</form>
				</div>
				<div class="tw-relative tw-grow tw-px-16 tw-py-8 tw-bg-oebgrey tw-rounded-[12px] tw-flex tw-justify-center tw-items-center tw-max-w-[500px] tw-min-w-[250px]">
					<div class="tw-absolute tw-top-[12px] tw-right-[12px]">
						<img src="/assets/oeb/images/learningPath/learningPathIcon.png" class="tw-w-[40px]" alt="LearningPath" />
					</div>
					<img class="tw-w-[120.88px] tw-h-[120.88px] md:tw-w-[172.69px] md:tw-h-[172.69px] tw-mx-auto tw-block"
						[loaded-src]="badge.image"
					 />
				</div>
			</div>
		</div>
		<div class="page-padding">
			<div class="tw-grid tw-grid-cols-2 tw-gap-8">
				<div>
					<div class="oeb-section-sm">
						<h3 hlmH3 class="tw-text-oebblack tw-font-bold">Beschreibung</h3>
						<p hlmP>{{learningPath.description}}</p>
					</div>
					
				</div>
				<div *bgAwaitPromises="[issuerLoaded]">
					<ng-template #progessTemplate>
						<div class="tw-absolute tw-flex tw-flex-col tw-w-full tw-text-right tw-right-4">
							<span class="tw-font-extrabold tw-text-purple tw-text-[64px] tw-leading-[64px]">67%</span>
							<span class="tw-mt-2 tw-text-base tw-text-oebblack">161/200 h</span>
						  </div>
					</ng-template>

					<div class="tw-w-full tw-flex tw-justify-center tw-items-center">
						<oeb-progress class="tw-w-full tw-h-32 tw-relative tw-inline-flex tw-overflow-hidden tw-rounded-3xl tw-bg-[var(--color-grayinteractive)] tw-items-center" [value]="67" [template]="progessTemplate"></oeb-progress>
					</div>

					<oeb-issuerCard [issuer]="issuer"></oeb-issuerCard>
				</div>
			</div>
			<div>
				<div class="oeb-section-sm">
					<h3 hlmH3 class="tw-text-oebblack tw-font-bold">Enthaltene Badges</h3>
					<oeb-backpack-tabs (onTabChanged)="onTabChange($event)" [tabs]="tabs"></oeb-backpack-tabs>
					<ng-template #allTemplate [bgAwaitPromises]="learningPath">
						<div class="tw-relative" *ngFor="let badge of learningPath.badges.reverse(); let i = index">
							<bg-badgecard class="tw-max-w-[300px]"
								[badgeImage]="badge.image"
								[badgeDescription]="badge.description"
								[badgeSlug]="badge.slug"
								[badgeIssueDate]="badge.createdAt" public="true" [publicUrl]="badge.url"
								[badgeClass]="true" 
								
								[issuerTitle]="badge.badge_id"
								public="true"
								[badgeClass]="true"></bg-badgecard>
						</div>
					</ng-template>
					<ng-template #openTemplate><div>all</div></ng-template>
					<ng-template #finishedTemplate><div>all</div></ng-template>
				</div>
			</div>
		</div>
	</ng-template>
	
</div>