<div class="oeb tw-relative tw-w-full">
	<ng-template [bgAwaitPromises]="[issuerLoaded, badgeLoaded, loaded]">
		<div class="oeb-section tw-bg-lightpurple">
			<div class="page-padding tw-flex tw-justify-between tw-flex-wrap tw-gap-8">
				<div>
					<div class="oeb-headline-container">
						<h1 class="tw-text-oebblack tw-font-extrabold" hlmH1>{{learningPath.name}}</h1>
						<p size="sm" hlmP class="tw-text-oebblack tw-mt-2">
							Lernpfad von <a hlmA [routerLink]="['/public/issuers/', issuer.slug ]">{{issuer.name}}</a>
						</p>
						<div class="tw-flex tw-flex-row tw-gap-2 tw-text-[#6B7280] tw-mt-1 tw-items-end">
							<hlm-icon name="lucideClock" />
							<span>{{hoursTotal}} Stunden</span>
						</div>
					</div>
					<form *ngIf="sessionService.isLoggedIn" (ngSubmit)="participate()" novalidate>
						<oeb-button [variant]="participantButtonVariant" hlmBtn type="submit"
							[text]="participationButtonText"></oeb-button>
					</form>
				</div>
				<div
					class="tw-relative tw-grow tw-px-16 tw-py-8 tw-bg-oebgrey tw-rounded-[12px] tw-flex tw-justify-center tw-items-center tw-max-w-[500px] tw-min-w-[250px]">
					<div class="tw-absolute tw-top-[12px] tw-right-[12px]">
						<img src="/assets/oeb/images/learningPath/learningPathIcon.png" class="tw-w-[40px]"
							alt="LearningPath" />
					</div>
					<img class="tw-w-[120.88px] tw-h-[120.88px] md:tw-w-[172.69px] md:tw-h-[172.69px] tw-mx-auto tw-block"
						[loaded-src]="badge.image" />
				</div>
			</div>
		</div>
		<div class="page-padding">
			<div class="tw-grid tw-grid-cols-2 tw-gap-8">
				<div>
					<div class="oeb-section-sm">
						<h3 hlmH3 class="tw-text-oebblack tw-font-bold">Beschreibung</h3>
						<p hlmP>{{learningPath.description}}</p>
					</div>

				</div>
				<div *bgAwaitPromises="[issuerLoaded]">
					<ng-template #progessTemplate>
						<div class="tw-absolute tw-flex tw-flex-col tw-w-full tw-text-right tw-right-4">
							<span
								class="tw-font-extrabold tw-text-purple tw-text-[64px] tw-leading-[64px]">{{progressPercentage.toFixed(0)
								}} %</span>
							<span class="tw-mt-2 tw-text-base tw-text-oebblack">161/{{hoursTotal}} h</span>
						</div>
					</ng-template>

					<div *ngIf="progressPercentage"
						class="tw-rounded-[10px] tw-bg-white tw-border-[#CFCECE] tw-border-solid tw-border tw-relative tw-p-3 tw-block tw-overflow-hidden">
						<div class="tw-flex tw-flex-col tw-h-full">
							<div class="tw-flex tw-flex-row tw-gap-2 tw-text-[#6B7280] tw-mt-1 tw-items-end">
								<hlm-icon name="lucideClock" />
								<span>Mein Fortschritt</span>
							</div>
							<div class="tw-w-full tw-flex tw-justify-center tw-items-center">
								<oeb-progress
									class="tw-w-full tw-h-32 tw-relative tw-inline-flex tw-overflow-hidden tw-rounded-3xl tw-bg-[var(--color-grayinteractive)] tw-items-center"
									[value]="progressPercentage" [template]="progessTemplate"></oeb-progress>
							</div>
						</div>
					</div>

					<oeb-issuerCard [issuer]="issuer"></oeb-issuerCard>
				</div>
			</div>
		</div>
	</ng-template>
	<div class="page-padding">
		<div class="oeb-section-sm">
			<h3 hlmH3 class="tw-text-oebblack tw-font-bold tw-pb-4">Enthaltene Badges</h3>
			<oeb-backpack-tabs (onTabChanged)="onTabChange($event)" [tabs]="tabs"
			></oeb-backpack-tabs>
			<ng-template #allTemplate>
				<ng-template [bgAwaitPromises]="[issuerLoaded, badgeLoaded, loaded]">
					<div class="tw-relative tw-flex tw-gap-4 tw-pt-4" *ngFor="let badge of learningPath.badges.reverse(); let i = index">
						<bg-badgecard class="tw-w-full" [badgeImage]="badge.badge.image" [badgeTitle]="badge.badge.name"
						[issuerTitle]="badge.badge.issuerName" [badgeDescription]="badge.badge.description"
						[badgeSlug]="badge.badge.slug" [badgeIssueDate]="badge.badge.createdAt" public="true"
						[publicUrl]="'/public/badges/'+ badge.badge.slug" [badgeClass]="true"></bg-badgecard>
					</div>
				</ng-template>
			</ng-template>
			<ng-template #openTemplate>
				<div>all</div>
			</ng-template>
			<ng-template #finishedTemplate>
				<div>all</div>
			</ng-template>
		</div>
	</div>

</div>