<div class="oeb tw-overflow-hidden tw-w-full tw-relative">
	<div class="u-animate-dropfade">
		<div class="md:tw-hidden tw-absolute tw-top-[240px] tw-right-[-180px] md:tw-right-0 tw-z-0 tw-opacity-70">
			<img class="md:tw-h-[400px] tw-h-[320px]" src="assets/oeb/images/startpage/sun.png" alt="Hands" />
		</div>
		<div class="tw-py-[8rem] tw-relative page-padding">
			<h1
				class="tw-font-normal md:tw-text-[46px] md:tw-leading-[55.2px] tw-text-purple tw-text-[30px] tw-leading-[36px]"
			>
				{{ 'Login.welcome' | translate }}
			</h1>
			<h1
				class="tw-font-black md:tw-text-[46px] md:tw-leading-[55.2px] tw-text-purple tw-text-[30px] tw-leading-[36px]"
			>
				{{ 'General.oeb' | translate }}
			</h1>

			<div>
				Du bist neu hier? <a class="hover:tw-underline" href="#" [routerLink]="['/signup']">{{ 'Login.createAccount' | translate }}</a>.
			</div>

			<div class="tw-max-w-[546px] tw-min-w-[546px]">
				<form class="u-margin-top2x" (ngSubmit)="submitAuth()" *ngIf="!features.disableRegistration" novalidate>
					<!-- Email Field -->
					<bg-formfield-text
						[control]="loginForm.rawControlMap.username"
						label="E-Mail"
						fieldType="email"
						[errorMessage]="{ required: 'Bitte gib Deine Email-Adresse ein.' }"
						[autofocus]="true"
						[initialValue]="verifiedEmail || ''"
						#usernameField
					></bg-formfield-text>

					<!-- Password Field -->
					<bg-formfield-text
						[control]="loginForm.rawControlMap.password"
						label="Password"
						class="u-margin-top2x"
						[errorMessage]="'Bitte gib Dein Passwort ein.'"
						fieldType="password"
						#passwordField
					>
						<span label-additions>
							<a
								class="forminput-x-helplink"
								href="#"
								tabindex="-1"
								[routerLink]="['/auth/request-password-reset', usernameField.value]"
								>{{ 'Login.forgotPassword' | translate }}</a
							>
						</span>
					</bg-formfield-text>

					<div class="l-stack l-stack-buttons l-stack-2x u-margin-top2x">
						<!-- Submit Button -->
						<button
							class="button"
							type="submit"
							[disabled]="!!loginFinished"
							[loading-promises]="[loginFinished]"
							loading-message="Signing In"
						>
							Login
						</button>

						<!-- Remember Me Checkout -->
						<label class="checkbox">
							<input
								id="remember-me"
								name="remember-me"
								type="checkbox"
								[formControl]="loginForm.rawControlMap.rememberMe"
							/>
							<span class="checkbox-x-text">{{ 'Login.stayLogged' | translate }}</span>
						</label>
					</div>
				</form>
				<div class="tw-flex tw-justify-end">
					<button class="tw-border tw-border-black tw-border-solid tw-rounded-[10px]">
						<div class="tw-flex tw-p-4 tw-gap-2 tw-items-center tw-justify-center">
							<img class="logo" src="assets/logos/mein-bildungsraum.svg" alt="Mein Bildungsraum Logo" />
							{{ 'Login.loginBildungsraum' | translate }}
						</div>
					</button>
				</div>
			</div>
			<!-- Mein Bildungsraum -->
		</div>
	</div>
</div>
<form-message></form-message>
