<div class="oeb tw-overflow-hidden tw-w-full tw-relative">
	<div class="u-animate-dropfade">
		<!-- <div class="tw-absolute tw-top-[253px] tw-left-[614px] tw-z-0 tw-opacity-70">
			<img class="tw-h-[269px] tw-w-[235px] tw-rotate-[-36.66deg]" src="assets/oeb/images/startpage/hexagonCircles.svg" alt="Hands" />
		</div> -->
		<div class="tw-py-[8rem] tw-relative page-padding">
			<h1
				class="tw-font-normal md:tw-text-[46px] md:tw-leading-[55.2px] tw-text-purple tw-text-[30px] tw-leading-[36px]"
			>
				{{ 'Login.welcome' | translate }}
			</h1>
			<h1
				class="tw-font-black md:tw-text-[46px] md:tw-leading-[55.2px] tw-text-purple tw-text-[30px] tw-leading-[36px]"
			>
				{{ 'General.oeb' | translate }}
			</h1>

			<div class="tw-mt-[14px]">
				Du bist neu hier? <a class="tw-text-[#1400FF] tw-underline" href="#" [routerLink]="['/signup']">{{ 'Login.createAccount' | translate }}</a>.
			</div>

			<div class="tw-mt-[23px] tw-max-w-[546px] tw-min-w-[546px]">
				<form class="u-margin-top2x" (ngSubmit)="submitAuth()" *ngIf="!features.disableRegistration" novalidate>
					<!-- Email Field -->
					<bg-formfield-text
						[control]="loginForm.rawControlMap.username"
						label="E-Mail"
						fieldType="email"
						[errorMessage]="{ required: 'Bitte gib Deine Email-Adresse ein.' }"
						[autofocus]="true"
						[initialValue]="verifiedEmail || ''"
						#usernameField
					></bg-formfield-text>

					<!-- Password Field -->
					<bg-formfield-text
						[control]="loginForm.rawControlMap.password"
						label="Passwort"
						class="u-margin-top2x"
						[errorMessage]="'Bitte gib Dein Passwort ein.'"
						fieldType="password"
						#passwordField
					>
						<span label-additions>
							<a
								class="forminput-x-helplink"
								href="#"
								tabindex="-1"
								[routerLink]="['/auth/request-password-reset', usernameField.value]"
								>{{ 'Login.forgotPassword' | translate }}</a
							>
						</span>
					</bg-formfield-text>

					<div class="tw-flex tw-gap-2 tw-items-center tw-justify-between tw-mt-[62px]">
						<!-- Remember Me Checkout -->
						<label class="checkbox">
							<input
								id="remember-me"
								name="remember-me"
								type="checkbox"
								[formControl]="loginForm.rawControlMap.rememberMe"
							/>
							<span class="checkbox-x-text">{{ 'Login.stayLogged' | translate }}</span>
						</label>

						<!-- Submit Button -->
						<button
							class="button tw-w-[289px] tw-h-16 tw-rounded-[10px]"
							type="submit"
							[disabled]="!!loginFinished"
							[loading-promises]="[loginFinished]"
							loading-message="Signing In"
						>
							Login
						</button>
					</div>
				</form>
				<!-- Mein Bildungsraum -->
				<div class="tw-flex tw-justify-end tw-mt-14">
					<button class="tw-border tw-border-black tw-border-solid tw-rounded-[10px] tw-h-16">
						<div class="tw-flex tw-p-4 tw-gap-[8px] tw-items-center tw-justify-center tw-font-normal tw-text-[20px] tw-leading-[28px]">
							<img class="logo" src="assets/logos/mein-bildungsraum.svg" alt="Mein Bildungsraum Logo" />
							{{ 'Login.loginBildungsraum' | translate }}
						</div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<form-message></form-message>
