<div class="l-containerxaxis l-containeryaxis l-flex l-flex-justifycenter">
	<div class="shadowcontainer u-animate-dropfade l-flex l-flex-column l-flex-aligncenter">
		<markdown-display [value]="theme.welcomeMessage || 'Welcome to MINT-O-Badges'"></markdown-display>
		<ng-template [ngIf]="!sessionService.enabledExternalAuthProviders.length"> </ng-template>
		<ng-template [ngIf]="sessionService.enabledExternalAuthProviders.length">
			<h3 class="l-ruleheadline ruleheadline">Sign in mit</h3>
			<div class="l-socialbuttons u-margin-top2x">
				<button
					*ngFor="let provider of sessionService.enabledExternalAuthProviders"
					(click)="sessionService.initiateUnauthenticatedExternalAuth(provider)"
					class="socialbutton"
					[style.backgroundColor]="provider.color"
				>
					<div i18n class="visuallyhidden">Access with {{ provider.label }}</div>
					<img [src]="sanitize(provider.imgSrc)" alt="" />
				</button>
			</div>
		</ng-template>

		<h3
			*ngIf="sessionService.enabledExternalAuthProviders.length && !features.disableRegistration"
			class="l-ruleheadline ruleheadline"
			i18n
		>
			Or
		</h3>
		<a
			class="button"
			href="{{api.baseUrl}}/login"
			i18n
		>
			Login with SDAIA Academy
		</a>
	</div>
</div>
<form-message></form-message>
