<div>

    <oeb-separator [class]="separatorStyle"></oeb-separator>
        <div  *ngIf="awards.length === 0">
            
            
        </div>
        
        <div class="tw-bg-[var(--color-darkgray)] tw-border tw-border-solid tw-border-purple tw-rounded-lg tw-mt-4 tw-pb-2">
            <div hlmAccordionItem class="tw-px-2 tw-py-2">
                <button
                        class="tw-w-full hover:tw-no-underline"
                        hlmAccordionTrigger
                    >
                    <div class="tw-w-full tw-flex tw-justify-between tw-text-white tw-items-center">
                        HELLO
                        <hlm-icon hlmAccIcon class="tw-w-8 tw-h-8" />
        
                    </div>
                </button> 
                <brn-accordion-content hlm>
                HI	
                </brn-accordion-content>   
            </div>
        </div>
    
    <oeb-separator [class]="separatorStyle"></oeb-separator>
        
</div>
