<div>

    <oeb-separator [class]="separatorStyle"></oeb-separator>
        <div class="tw-flex tw-flex-col lg:tw-flex-row tw-items-center tw-justify-between tw-gap-2"  *ngIf="awards.length === 0; else showAwards">
            <div class="tw-flex tw-flex-col">
                <span class="tw-text-[22px] tw-leading-[26.4px] tw-text-purple tw-font-bold">QR-CODE-VERGABEN</span>
                <span class="tw-italic tw-text-[18px] tw-leading-[21.6px] tw-text-oebblack tw-mt-2">Du hast bisher keine QR-Code Vergabe erstellt</span>
            </div>
            <oeb-button class="oeb-button tw-whitespace-nowrap !tw-p-0" variant="secondary" [routerLink]="routerLink" text="Badge über QR Code vergeben"></oeb-button>
            
        </div>
        
        <ng-template #showAwards >
            <div *ngFor="let award of awards; " [ngClass]="award.request_count > 0 ? 'tw-bg-[var(--color-green)]' : 'tw-bg-[var(--color-darkgray)]'" class="tw-border tw-border-solid tw-border-purple tw-rounded-lg tw-mt-4 tw-pb-2">
            <div hlmAccordionItem class="tw-px-2 tw-py-2" (click)="$event.stopPropagation()">
                <button
                        type="button"
                        class="tw-w-full hover:tw-no-underline"
                        hlmAccordionTrigger
                    >
                    <div [ngClass]="award.request_count > 0 ? 'tw-text-oebblack' : 'tw-text-white'" class="tw-w-full tw-flex tw-justify-between tw-items-center">
                        <div>
                           <span class="tw-font-bold">
                                {{award.title}}
                           </span> 
                           <span class="tw-ml-2">
                                ( {{award.request_count}} offene Badge Anfragen)
                           </span>
                        </div> 
                        <hlm-icon hlmAccIcon class="tw-w-8 tw-h-8" />
        
                    </div>
                </button> 
                <brn-accordion-content hlm class="tw-text-white">
                    <qrcodes-datatable [qrCodeId]="award.slug" [routerLink]="routerLink"></qrcodes-datatable>
                </brn-accordion-content>   
            </div>
        </div>
        </ng-template>
    
    <oeb-separator [class]="separatorStyle"></oeb-separator>
        
</div>
