<form-message></form-message>
<app-badge-legend *ngIf="showLegend" (closed)="closeLegend()"></app-badge-legend>

<form [formGroup]="badgeClassForm.rawControl" #formElem (ngSubmit)="onSubmit()" novalidate class="l-responsivelist">
	<!-- General Details Panel -->
	<div class="formsection">
		<!-- <div class="formsection-x-title">
			<h2 class="u-text-dark2">
				Badge Basics
			</h2>
		</div> -->

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>Badge Basics</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				Badge images can be either PNGs or SVGs or the icons selected via the icon search. About that
				A frame is automatically placed on the selected image/icon, depending on the category.
			</p>
			<br />
			<a href="javascript:;" (click)="openLegend()" class="u-text-outlink" i18n
				>What do the frames and colors mean?
			</a>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-image
					#imageField
					label="Picture"
					imageLoaderName="badge"
					[class.fixed-imagefield]="scrolled"
					[newDropZone]="true"
					[generateRandom]="false"
					[type]="'badge'"
					(generateRandomImage)="generateRandomImage()"
					(imageUploaded)="generateUploadImage($event, badgeClassForm.value)"
					class="l-formimageupload-x-upload"
					[placeholderImage]="badgeClassPlaceholderImageUrl"
					[control]="badgeClassForm.rawControlMap.badge_image"
				>
				</bg-formfield-image>
				<badge-studio
					[scrolled]="scrolled"
					#badgeStudio
					[formData]="badgeClassForm.value"
					[hidden]="true"
				></badge-studio>
			</div>

			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_name"
					label="Name"
					[errorMessage]="{ required: 'Please give the badge a name' }"
					[autofocus]="true"
				></bg-formfield-text>
			</div>

			<div class="forminput">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_description"
					label="Short description"
					id="badgeclass_description_input"
					placeholder="Short description of the service"
					[errorMessage]="{ required: 'Please enter a description' }"
					[multiline]="true"
				></bg-formfield-text>
			</div>
		</div>
	</div>

	<!-- Criteria Panel -->
	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2" i18n>
				Criteria
				<span>(At least one of the fields is mandatory.)</span>
			</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>What are the criteria?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				The criteria field describes exactly what needs to be done to receive the badge. Some issuers
				choose a URL on your website as an information page that explains what the badge is about and how
				you receive it.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="u-margin-bottom2x">
				<div class="mdeditor">
					<div class="mdeditor-x-editor">
						<p
							[hidden]="!alignmentFieldDirty || !badgeClassForm.hasError('criteriaRequired')"
							class="u-text u-margin-bottom2x u-text-error"
							i18n
						>
							Either text or a URL is mandatory.
						</p>

						<bg-formfield-markdown
							[control]="badgeClassForm.rawControlMap.badge_criteria_text"
							[newValue]="badgeClassForm.rawControlMap.badge_criteria_text.value"
							label=" How do you get this badge?"
							class="l-formsection-x-inputoffset"
							[errorMessage]="''"
						></bg-formfield-markdown>
					</div>
				</div>
			</div>

			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_criteria_url"
					label="URL"
					[urlField]="true"
					fieldType="url"
					errorMessage="URL to the badge criteria"
				></bg-formfield-text>
			</div>
		</div>
	</div>

	<!-- Criteria Panel -->
	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2" i18n>Duration</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>What is the duration?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				In the duration field you describe the time scope of the service that is necessary to receive the badge.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-text
					[control]="badgeClassForm.rawControlMap.badge_study_load"
					label="Duration in hours"
					[fieldType]="'number'"
					[errorMessage]="{
						required: 'Please enter the duration of the service to receive the badge.'
					}"
				></bg-formfield-text>
			</div>
		</div>
	</div>

	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2" i18n>Category</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>What is the category?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				As a category you choose between participation/success, membership, professional competence
				or a meta-competence.
			</p>
			<br />
			<a href="javascript:;" (click)="openLegend()" class="u-text-outlink" i18n>More about the categories </a>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-select
					ariaLabel="Choose a category"
					[control]="badgeClassForm.rawControlMap.badge_category"
					label="Category"
					[placeholder]="'Choose a category'"
					[optionMap]="categoryOptions"
					[errorMessage]="{
						required: 'Please select the badge category.'
					}"
				></bg-formfield-select>
			</div>
		</div>
	</div>

	<div class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2" i18n>Level</h2>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>What is the stage?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				Competencies are represented in 6 levels: A1 beginner, A1 explorer, B1 insider, B2
				Expert, C1 leader and C2 pioneer. In the badge image you can recognize the level by the number of them
				marked edges clockwise.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="forminput u-margin-bottom2x">
				<bg-formfield-select
					ariaLabel="Wähle eine Stufe"
					[control]="badgeClassForm.rawControlMap.badge_level"
					label="Level"
					[disabled]="
						badgeClassForm.rawControlMap.badge_category.value === 'membership' ||
						badgeClassForm.rawControlMap.badge_category.value === 'archievement'
					"
					[placeholder]="'Wähle eine Stufe'"
					[optionMap]="levelOptions"
					[errorMessage]="{
						required: 'Wähle eine Stufe für das Badge'
					}"
				></bg-formfield-select>
			</div>
		</div>
	</div>

	<!-- alignments -->
	<div *ngIf="alignmentsEnabled" class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2" i18n>
				Shortcut
				<span>(Optional)</span>
			</h2>
			<button type="button" (click)="disableAlignments()" class="buttonicon buttonicon-link">
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden" i18n>Close</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>Was ist die Verknüpfung?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				Open badges can optionally be linked to educational standards. This link information can
				be important for people who see which badges you have received or for people who
				consider receiving a specific badge.
			</p>
		</div>
		<div class="formsection-x-body">
			<ng-container *ngFor="let alignment of badgeClassForm.controls.alignments.controls; let i = index">
				<div class="l-flex l-flex-1x l-flex-justifybetween u-margin-bottom2x">
					<h3 class="u-text-body-bold u-text-dark1">
						{{ alignment.controls.target_name.value }}
					</h3>
					<button
						*ngIf="badgeClassForm.controls.alignments.controls.length > 1"
						type="button"
						(click)="removeAlignment(alignment)"
						class="u-text-link"
						i18n
					>
						Remove
					</button>
				</div>
				<div class="forminput u-margin-bottom6x">
					<div class="forminput-x-inputs">
						<bg-formfield-text
							[control]="alignment.rawControlMap.target_name"
							label="Name"
							[errorMessage]="{ required: 'Gib den Namen der Verknüpfung ein.' }"
							id="alignment_name_{{ i }}"
						></bg-formfield-text>

						<bg-formfield-text
							[control]="alignment.rawControlMap.target_url"
							label="URL"
							[errorMessage]="{ required: 'Bitte gib eine URL zur Verknüpfung an.' }"
							[urlField]="true"
							id="alignment_url_{{ i }}"
						></bg-formfield-text>

						<bg-formfield-text
							[control]="alignment.rawControlMap.target_description"
							label="Short description"
							[multiline]="true"
							id="alignment_description_{{ i }}"
						></bg-formfield-text>

						<button
							*ngIf="!showAdvanced[i]"
							(click)="showAdvanced[i] = true"
							type="button"
							class="u-text-link-small u-margin-yaxis2x"
							i18n
						>
							Show advanced options
						</button>

						<ng-template [ngIf]="showAdvanced[i]">
							<button
								(click)="showAdvanced[i] = false"
								type="button"
								class="u-text-link-small u-margin-yaxis2x"
								i18n
							>
								Hide advanced options
							</button>

							<label class="forminput-x-label u-margin-top2x" for="forminput2" i18n>Frame</label>
							<input type="text" id="forminput2" name="forminput2" />

							<label class="forminput-x-label u-margin-top2x" for="url" i18n>Code</label>
							<input type="text" id="url" name="url" />
						</ng-template>
					</div>
				</div>
			</ng-container>

			<div class="l-stack">
				<button (click)="addAlignment()" type="button" class="button button-secondary" i18n>
					Add shortcut
				</button>
			</div>
		</div>
	</div>

	<!-- tags -->
	<div *ngIf="tagsEnabled" class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2" i18n>
				Tags
				<span>(Optional)</span>
			</h2>
			<button type="button" (click)="disableTags()" class="buttonicon buttonicon-link">
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden" i18n>Close</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>What are tags?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				Tags are an optional way to describe a badge. Tags help you find badges
				on certain topics.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="l-tags">
				<div *ngFor="let tag of tags" class="tag tag-withclose">
					{{ tag }}
					<button class="buttonicon buttonicon-link">
						<svg icon="icon_close" (click)="removeTag(tag)"></svg>
						<span class="visuallyhidden" i18n>Delete</span>
					</button>
				</div>
			</div>

			<div class="forminput forminput-withbutton forminput-light1 u-width-formsmall u-margin-top3x">
				<label class="forminput-x-label visuallyhidden" for="addtag" i18n>Add Tag</label>
				<div class="forminput-x-inputs">
					<input
						name="addtag"
						id="addtag"
						(keypress)="handleTagInputKeyPress($event)"
						#newTagInput
						type="text"
						maxlength="50"
						placeholder="Newer Tag..."
					/>
					<div class="forminput-x-button">
						<button type="button" (click)="addTag()" class="button button-secondary button-informinput" i18n>
							Add
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- expiration -->
	<div *ngIf="expirationEnabled" class="formsection">
		<div class="formsection-x-title">
			<h2 class="u-text-dark2" i18n>
				Validity
				<span>(Optional)</span>
			</h2>
			<button type="button" (click)="disableExpiration()" class="buttonicon buttonicon-link">
				<svg icon="icon_close"></svg>
				<span class="visuallyhidden" i18n>Close</span>
			</button>
		</div>

		<div class="formsection-x-help">
			<h3 class="u-text-body-bold" i18n>What is the validity?</h3>
			<p class="u-text u-margin-top1x u-margin-bottom2x" i18n>
				Describe the duration for which this badge is generally valid. This information can also be found at
the award can be changed. Badges are marked as expired once their validity expires.
			</p>
		</div>
		<div class="formsection-x-body">
			<div class="l-spacestack">
				<bg-formfield-text
					[control]="expirationForm.rawControlMap.expires_amount"
					label="Number"
					[fieldType]="'number'"
					[max]="1000"
					[maxchar]="4"
				></bg-formfield-text>
				<bg-formfield-select
					ariaLabel="Choose duration"
					[control]="expirationForm.rawControlMap.expires_duration"
					label="Dauer"
					[placeholder]="'Choose duration'"
					[optionMap]="durationOptions"
				></bg-formfield-select>
			</div>
		</div>
	</div>

	<!-- add options -->
	<div class="formsection formsection-nohelp">
		<h2 class="formsection-x-title" i18n>Optional details</h2>
		<div class="formsection-x-body">
			<ul>
				<li class="l-flex l-flex-justifybetween l-flex-aligncenter u-padding-bottom2x">
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4" width="24px" viewBox="0 0 24 24" icon="icon_link"></svg>
						<p class="u-text-body-semibold u-text-dark2" i18n>Link to educational standards</p>
					</div>
					<button
						type="button"
						(click)="enableAlignments()"
						*ngIf="!alignmentsEnabled"
						class="u-text-link-small"
						i18n
					>
						add
					</button>
					<button type="button" disabled *ngIf="alignmentsEnabled" class="u-text-link-small u-text-light4" i18n>
						added
					</button>
				</li>
				<li
					class="l-flex l-flex-justifybetween l-flex-aligncenter border border-top border-light3 u-padding-yaxis2x"
				>
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4" width="24px" viewBox="0 0 24 24" icon="icon_tags"></svg>
						<p class="u-text-body-semibold u-text-dark2" i18n>Tags</p>
					</div>
					<button type="button" (click)="enableTags()" *ngIf="!tagsEnabled" class="u-text-link-small" i18n>
						add
					</button>
					<button type="button" *ngIf="tagsEnabled" disabled class="u-text-link-small u-text-light4" i18n>
						added
					</button>
				</li>
				<li
					class="l-flex l-flex-justifybetween l-flex-aligncenter border border-top border-light3 u-padding-yaxis2x"
				>
					<div class="l-flex l-flex-2x">
						<svg class="icon icon-dark4" width="24px" viewBox="0 0 24 24" icon="icon_pending"></svg>
						<p class="u-text-body-semibold u-text-dark2" i18n>validity</p>
					</div>
					<button
						type="button"
						(click)="enableExpiration()"
						*ngIf="!expirationEnabled"
						class="u-text-link-small"
						i18n
					>
						add
					</button>
					<button type="button" disabled *ngIf="expirationEnabled" class="u-text-link-small u-text-light4" i18n>
						added
					</button>
				</li>
			</ul>
		</div>
	</div>

	<div class="formsection formsection-nohelp">
		<div class="formsection-x-body">
			<a href="https://openbadges.org/" class="u-text-outlink" i18n>
				Find out more about Open Badges
				<svg icon="icon_external_link"></svg>
			</a>
		</div>
	</div>

	<div class="l-stack l-stack-right u-margin-top3x">
		<button
			type="button"
			[disabled-when-requesting]="true"
			(click)="cancelClicked()"
			class="button button-secondary"
			i18n
		>
			Cancel
		</button>
		<button
			type="submit"
			class="button"
			[disabled]="!!savePromise"
			[loading-promises]="[savePromise]"
			loading-message="{{ submittingText }}"
		>
			{{ submitText }}
		</button>
	</div>
</form>
