<div class="page-padding oeb">
    <h1 class="tw-text-oebblack tw-text-3xl">
        {{ 'RequestBadge.requestBadge' | translate}}<br>
        <span class="tw-text-purple tw-font-extrabold">Müllkippe Meer</span>
    </h1>
    <div>
        <p>
            {{ 'RequestBadge.fillForm' | translate}}
        </p>
        <p>
            {{ 'RequestBadge.requestBadgeInfo1' | translate}}
            {{ 'RequestBadge.requestBadgeInfo2' | translate}}

        </p>
    </div>

    <div class="oeb-section">
        <form [formGroup]="requestForm.rawControl" (ngSubmit)="onSubmit()" novalidate>
            <div class="tw-flex tw-flex-col">
                <oeb-input label="Vorname" [placeholder]=""
						fieldType="text" [control]="requestForm.rawControlMap.firstname"
						></oeb-input>
                <oeb-input label="Nachname" [placeholder]=""
						fieldType="text" [control]="requestForm.rawControlMap.lastname"
						></oeb-input>
                <oeb-input label="Email" [placeholder]=""
                fieldType="email" [control]="requestForm.rawControlMap.email"
                ></oeb-input>        
            </div>

            <p class="tw-mt-6 md:tw-mt-7 tw-text-oebblack tw-leading-[18.2px]">
                {{ 'RequestBadge.personalDataInfo' | translate}}
            </p>
            
            <oeb-checkbox id="age-confirmation" name="age-confirmation" type="checkbox"
								[text]="'RequestBadge.ageConfirmation' | translate "
								[formControl]="requestForm.rawControlMap.ageConfirmation">
            </oeb-checkbox>
            <oeb-button variant="secondary" type="submit" [text]="requestBadge">

            </oeb-button>

        </form>


    </div>
</div>