<section class="l-containerxaxis l-containeryaxis">
	<div class="u-width-form">
		<article class="contentlong">
			<h2 i18n>Instructions</h2>
			<p i18n>
				You can import a list of recipients who should receive the badge. The file must
				look like this:
			</p>
			<ol i18n>
				<li>Include email address and proof URL</li>
				<li>CSV oder TXT Format.</li>
			</ol>
			<p i18n>
				Use these
				<a [href]="badgrBulkIssueTemplateUrl" download="badgr-bulk-issue-template.csv"> Example template </a>
				to create a CSV or TXT file
			</p>
		</article>
		<form [formGroup]="csvForm" class>
			<fieldset>
				<bg-formfield-file
					#fileField
					label="File"
					validFileTypes="text/plain,.csv"
					[control]="csvForm.controls['zipFile']"
					[placeholderImage]="csvUploadIconUrl"
					(fileData)="onFileDataReceived($event)"
				>
				</bg-formfield-file>
			</fieldset>
		</form>

		<div class="l-flex l-flex-1x u-margin-top2x">
			<button class="button button-secondary" (click)="updateViewState('cancel')" i18n>Cancel</button>

			<button
				class="button l-marginLeft-x2"
				[class.button-is-disabled]="rawCsv === null"
				[attr.disabled]="rawCsv ? null : true"
				(click)="importAction()"
				i18n
			>
				Import
			</button>
		</div>
	</div>
</section>
