<ng-template [bgAwaitPromises]="awaitPromises">
    <main class="o-container" *ngIf="config">
    <form-message></form-message>
    <div class="page-padding">
        
        <div class="tw-flex tw-flex-col tw-relative">
            <div class="tw-grid md:tw-flex md:tw-justify-between md:tw-items-center">
                <h1 class="tw-text-purple tw-text-3xl md:tw-text-5xl tw-font-bold tw-hyphens-auto tw-break-words tw-max-w-[358px] md:tw-max-w-[346px] tw-mb-2">{{ config.badgeTitle }}</h1>
                <div class="tw-flex tw-gap-2">
                <div *ngIf="config.headerButton">
                    <a *ngIf="config.headerButton.routerLink"
                        class="button tw-w-[305px] md:tw-w-[358px] md:tw-h-[64px] tw-h-[45px] tw-flex tw-items-center tw-justify-center tw-text-xl tw-rounded-[7px]"
                        [routerLink]="config.headerButton.routerLink"
                        [disabled-when-requesting]="true"
                        >{{ config.headerButton.title }}</a
                    >
                    <!-- TODO:  use full width button variant -->
                    <oeb-button *ngIf="config.headerButton.action"
                        class="oeb-button tw-w-[305px] md:tw-w-[358px] md:tw-h-[64px] tw-h-[45px] tw-flex tw-items-center tw-justify-center tw-text-xl tw-rounded-[7px]"
                        (click)="config.headerButton.action()"
                        [disabled-when-requesting]="true" [text]="config.headerButton.title"></oeb-button>
                    </div>

                <button *ngIf="config.menuitems" class="tw-items-center tw-justify-center tw-flex tw-cursor-pointer tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-[7px] tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64px] md:tw-h-[64px]" id="actionstrigger" [bgPopupMenuTrigger]="moreMenu">
                    <svg fill="var(--color-purple)" icon="icon_more"></svg>
                    <span class="visuallyhidden">Mehr</span>
                </button>
                <bg-popup-menu #moreMenu>
                <div *ngFor="let menuitem of config.menuitems">
                    <button
                        class="menuitem"
                        type="button"
                        [routerLink]="menuitem.routerLink"
                        (click)="menuitem.action()"
                    >
                        <svg icon={{menuitem.icon}}></svg>{{ menuitem.title}}
                    </button>
                </div>
                </bg-popup-menu>
            </div>
            </div>
        </div>

        <!-- Sidebar -->

        <div class="tw-flex md:tw-flex-row tw-flex-col tw-mt-4 tw-relative md:tw-mx-0 tw-mx-auto">
            <div class="md:tw-absolute md:tw-w-[346px] tw-w-[358px] md:tw-p-0 tw-pb-8">
                <div class="badge-sidebar-internal">
                    <div>
                        <div class="tw-w-[195px] tw-h-[179px] md:tw-w-[297.86px] md:tw-h-[257px] tw-flex tw-items-center tw-bg-white tw-mx-auto tw-rounded-[20px] tw-border tw-border-solid tw-border-[var(--color-purple)] ">
                        <img
                            class="tw-w-[120.88px] tw-h-[120.88px] md:tw-w-[172.69px] md:tw-h-[172.69px] tw-mx-auto tw-block"
                            [loaded-src]="config.badgeImage"
                            [loading-src]="config.badgeLoadingImageUrl"
                            [error-src]="config.badgeFailedImageUrl"
                        />
                        </div>

                        <!-- Issuer Information -->

                            <div class="tw-mt-4 md:tw-w-[280px] tw-mx-auto tw-flex tw-items-center tw-border tw-border-solid tw-border-[var(--color-purple)] tw-pl-4 tw-py-4 tw-bg-white tw-rounded-[20px]">
                                <div >
                                    <img class="tw-w-[37.1px] tw-h-[37.1px] md:tw-w-[53px] md:tw-h-[53px] issuer-image"
                                        [loaded-src]="config.issuerImage"
                                        [loading-src]="config.issuerImagePlacholderUrl"
                                        [error-src]="config.issuerImagePlacholderUrl"
                                    />
                                </div>
                                <div class="tw-text-oebblack tw-ml-2">
                                    <dt class="tw-italic ">{{ 'RecBadgeDetail.issuedBy' | translate }}:</dt>
                                    <dd class="tw-break-words">
                                            {{config.issuerName}}
                                    </dd>
                                </div>
                            </div>
                    </div>
                    <dl>
                        <div class="tw-flex tw-items-start md:tw-flex-row tw-flex-col">
                            <dt class="tw-text-oebblack tw-font-bold md:tw-p-2"> Tags </dt>
                            <dd class="tw-text-oebblack">
                                    <div class="tag tw-border-[var(--color-purple)] tw-m-1 tw-ml-0 tw-max-w-24" *ngFor="let tag of config.tags; last as last">{{ tag }}</div>
                        
                        </div>

                        <div class="tw-flex tw-text-oebblack tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
                            <dt
                                class="tw-text-sm tw-text-oebblack tw-font-bold"
                            >
                                {{ 'General.category' | translate }}:
                            </dt>
                            <dd class="tw-text-sm tw-text-oebblack md:tw-ml-2">{{ config.category }}</dd>
                        </div>
                        
                        <div *ngIf="config.updatedAt" class="tw-flex tw-text-oebblack tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
                            <dt class="tw-text-sm tw-text-oebblack tw-font-bold"
                            >
                                Zuletzt editiert:
                            </dt>
                            <dd class="tw-text-sm tw-text-oebblack md:tw-ml-2"><time [date]="config.updatedAt" format="dd.MM.y"></time></dd>
                        </div>
                        <div *ngIf="config.createdAt" class="tw-flex tw-text-oebblack tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
                            <dt class="tw-text-sm tw-text-oebblack tw-font-bold"
                            >
                                Erstellt am:
                            </dt>
                            <dd class="tw-text-sm tw-text-oebblack md:tw-ml-2"><time [date]="config.createdAt" format="dd.MM.y"></time></dd>
                        </div>
                        <div *ngIf="config.issuedOn" class="tw-flex tw-text-oebblack tw-mt-2 tw-pt-2  md:tw-flex-row tw-flex-col">
                            <dt class="tw-text-sm tw-text-oebblack tw-font-bold "
                            >
                                {{ 'RecBadgeDetail.issuedOn' | translate }}
                            </dt>
                            <dd class="tw-text-sm tw-text-oebblack md:tw-ml-2 "><time [date]="config.issuedOn" format="dd.MM.y"></time></dd>
                        </div>
                        <div *ngIf="config.issuedTo" class="tw-flex tw-text-oebblack tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
                            <dt class="tw-text-sm tw-text-oebblack tw-font-bold "
                            >
                                Vergeben an:
                            </dt>
                            <dd class="tw-text-sm tw-break-all">{{ config.issuedTo }}</dd>
                        </div>

                    </dl>

                    <hr class="tw-hidden md:tw-block tw-w-full tw-col-span-full tw-my-4 tw-border tw-border-dashed tw-border-[var(--color-purple)]" />
                </div>
                </div>
        </div>
        <div class="md:tw-pl-[410px] md:tw-pb-8 md:tw-ml-20 md:tw-min-h-[800px]">
            <div class="tw-text-oebblack tw-pt-0 tw-pb-4">
                <h2 class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack tw-mb-4">
                    Kurzbeschreibung
                </h2>
                <p class="tw-text-xl tw-font-[rubik] tw-text-oebblack tw-w-full tw-max-w-[720px]">{{ config.badgeDescription }}</p>
            </div>
            <!-- Kompetenzen -->
                <section class="tw-text-oebblack tw-pb-8">
                    <h3
                        class="tw-text-[22px] tw-leading-[26.4px] tw-font-[500] tw-font-[rubik] tw-text-oebblack u-margin-bottom2x u-margin-top4x"
                        *ngIf="
                            config.competencies && config.competencies.length > 0
                        "
                    >
                    {{ 'RecBadgeDetail.competencies' | translate }}
                    </h3>
                    <div>
                        <div
                            *ngFor="
                                let competency of config.competencies;
                                index as i;
                            "
                        >
                        <competency-accordion [name]="competency.name" [category]="competency.category" [description]="competency.description" [escoID]="competency.escoID" [studyload]="competency.studyLoad | studyload"></competency-accordion>
                        </div>
                    </div>
                </section>
                <ng-content></ng-content>
        </div>

    </div>
    </main>
    </ng-template>