<ng-template [bgAwaitPromises]="awaitPromises">
	@if (config) {
		<main class="oeb">
			<form-message></form-message>
			<div class="page-padding">
				<div class="oeb-breadcrumbs">
					<bg-breadcrumbs [linkentries]="config.crumbs"> </bg-breadcrumbs>
				</div>
				<div class="oeb-section-sm">
					<div class="tw-flex tw-flex-col tw-relative">
						<div class="tw-grid md:tw-flex md:tw-justify-between md:tw-items-center md:tw-gap-10">
							<h1
								hlmH1
								class="tw-text-purple tw-font-extrabold tw-hyphens-auto tw-break-words tw-mb-2 md:tw-mb-0 oeb-break-words"
							>
								{{ config.badgeTitle }}
							</h1>
							<div class="tw-flex tw-gap-2">
								@if (config.headerButton) {
									@if (config.headerButton.routerLink) {
										<oeb-button
											class="tw-whitespace-nowrap tw-grow"
											[text]="config.headerButton.title | translate"
											width="full_width"
											[routerLink]="config.headerButton.routerLink"
											[disabled-when-requesting]="true"
										></oeb-button>
									}
									@if (config.headerButton.action) {
										<oeb-button
											class="tw-whitespace-nowrap tw-grow md:tw-min-w-[327px]"
											width="full_width"
											(click)="config.headerButton.action()"
											[disabled-when-requesting]="true"
											[text]="config.headerButton.title | translate"
										></oeb-button>
									}
								}
								@if (config.shareButton && badge) {
									<oeb-button
										hlmBtn
										class="lg:tw-whitespace-nowrap"
										[text]="'RecBadgeDetail.shareBadge' | translate"
										(click)="shareBadge()"
									></oeb-button>
								}
								@if (config.menuitems) {
									<oeb-dropdown
										[trigger]="svgTrigger"
										class="tw-items-center tw-justify-center tw-flex tw-cursor-pointer tw-border tw-border-solid tw-border-[var(--color-purple)] tw-rounded-[7px]"
										[menuItems]="config.menuitems"
									></oeb-dropdown>
								}
								<ng-template #svgTrigger>
									<svg
										class="tw-w-[44.8px] tw-h-[44.8px] md:tw-w-[64px] md:tw-h-[64px]"
										fill="var(--color-purple)"
										icon="icon_more"
									></svg>
									<span class="visuallyhidden">Mehr</span>
								</ng-template>
							</div>
						</div>
						<div class="tw-grid md:tw-flex tw-justify-start">
							@if (config.qrCodeButton?.show) {
								<oeb-button
									class="oeb-button !tw-p-0 tw-mt-2 tw-w-full md:tw-w-fit md:tw-ml-auto md:tw-h-[64px] tw-h-[45px] tw-flex tw-items-center tw-justify-center tw-text-xl tw-rounded-[7px]"
									variant="secondary"
									[text]="config.qrCodeButton?.title | translate"
									(click)="config.qrCodeButton?.action()"
								></oeb-button>
							}
						</div>
					</div>
				</div>
				<!-- Sidebar -->
				<div class="tw-flex md:tw-flex-row tw-flex-col tw-gap-16 tw-mt-4 tw-relative md:tw-mx-0 tw-mx-auto">
					<div class="md:tw-w-[346px] md:tw-p-0 tw-pb-8 md:tw-flex-grow-1">
						<div class="badge-sidebar-internal tw-rounded-lg tw-flex tw-flex-wrap">
							<div class="md:tw-min-w-[260px] tw-min-w-[200px]">
								<div
									class="tw-flex tw-items-center tw-bg-white tw-mx-auto tw-py-8 tw-rounded-lg oeb-slight-shadow"
								>
									<img
										class="tw-w-[120.88px] tw-h-[120.88px] md:tw-w-[172.69px] md:tw-h-[172.69px] tw-mx-auto tw-block"
										[loaded-src]="config.badgeImage"
										[loading-src]="config.badgeLoadingImageUrl"
										[error-src]="config.badgeFailedImageUrl"
									/>
								</div>
								<!-- Issuer Information -->
								<div
									class="tw-mt-4 tw-mb-6 tw-mx-auto tw-flex tw-items-center oeb-slight-shadow tw-pl-4 tw-pr-2 tw-py-4 tw-bg-white tw-rounded-lg"
								>
									<div>
										<img
											class="tw-min-w-[37.1px] tw-h-[37.1px] md:tw-min-w-[53px] md:tw-h-[53px] issuer-image tw-aspect-square"
											[loaded-src]="
												config.networkBadge
													? config.issuerImage
													: config.sharedOnNetwork
														? config.sharedOnNetwork.image
														: config.issuerImage
											"
											[loading-src]="config.issuerImagePlacholderUrl"
											[error-src]="config.issuerImagePlacholderUrl"
										/>
									</div>

									<div class="tw-leading-[120%] tw-ml-2">
										<dt
											class="{{
												config.networkBadge
													? 'tw-text-[#757575]'
													: config.sharedOnNetwork
														? 'tw-text-[#757575]'
														: 'tw-text-darkgrey'
											}}"
										>
											{{
												config.networkBadge
													? ('Network.createdByNetwork' | translate)
													: config.sharedOnNetwork
														? ('Network.partOfNetwork' | translate)
														: ('RecBadgeDetail.issuedBy' | translate)
											}}:
										</dt>
										<dd class="oeb-break-words tw-font-bold tw-text-oebblack">
											{{
												config.networkBadge
													? config.issuerName
													: config.sharedOnNetwork
														? config.sharedOnNetwork.name
														: config.issuerName
											}}
										</dd>
									</div>
								</div>
							</div>
							@if (config.copy_permissions && !config.copy_permissions.includes('none')) {
								<div class="tw-flex tw-flex-row tw-gap-1">
									<dt
										class="tw-text-oebblack tw-font-bold"
										[innerHTML]="('Badge.copyableFor' | translate) + ': '"
									></dt>
									<dd
										class="tw-text-oebblack tw-italic"
										[innerHTML]="
											config.copy_permissions.includes('others')
												? ('Issuer.allInstitutions' | translate)
												: ('Issuer.ownInstitution' | translate)
										"
									></dd>
								</div>
							}
							<dl clss="tw-min-w-[150px]">
								@if (hasCriteria || config.competencies.length) {
									<div class="tw-bg-white tw-mb-4 tw-rounded-[10px] tw-p-2">
										<oeb-collapsible
											[trigger]="collapseCriteriaTrigger"
											closeIcon="lucideChevronDown"
											[iconSize]="'24px'"
											[iconStyle]="'tw-text-oebblack tw-mr-2'"
											[defaultOpen]="hasCriteria"
											[id]=""
										>
											<ng-template #collapseCriteriaTrigger>
												<dt
													class="tw-mr-auto tw-flex tw-justify-center tw-items-center tw-px-2"
												>
													<ng-icon
														hlm
														name="lucideAward"
														class="tw-w-6 tw-h-6 tw-text-purple"
													>
													</ng-icon>
													<span
														class="tw-text-oebblack tw-font-bold tw-text-sm tw-ml-1"
														[innerHTML]="'Badge.awardCriteria' | translate"
													></span>
												</dt>
											</ng-template>
											@if (hasCriteria) {
												<dd>
													<ul class="tw-pr-2 tw-pl-8 tw-list-inside tw-list-disc">
														@for (criteria of config.awardCriteria; track criteria.name) {
															<li class="tw-mb-1">
																<span class="tw-text-oebblack">{{
																	criteria.name
																}}</span>
																@if (criteria.description) {
																	<p
																		class="tw-text-oebblack tw-italic tw-font-thin tw-ml-4 tw-mt-1"
																	>
																		{{ criteria.description }}
																	</p>
																}
															</li>
														}
													</ul>
												</dd>
											} @else {
												<ul class="tw-pr-2 tw-pl-8 tw-list-inside tw-list-disc">
													@for (competency of config.competencies; track competency) {
														<li class="tw-mb-1">
															<span class="tw-text-oebblack">{{ competency.name }}</span>
														</li>
													}
												</ul>
											}
										</oeb-collapsible>
									</div>
								}
								@if (config.version) {
									<div class="tw-flex tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col tw-items-center">
										<dt class="tw-text-sm tw-text-darkgray">
											{{ 'Badge.standard' | translate }}
										</dt>
										<dd
											class="tw-text-sm tw-text-oebblack md:tw-ml-2 tw-flex tw-items-center tw-gap-1 tw-font-medium"
										>
											{{ config.version }}
											<info-icon>
												@if (config.version == '3.0') {
													<span [innerHTML]="'Badge.standard-info-30' | translate"></span>
												} @else {
													<span [innerHTML]="'Badge.standard-info-20' | translate"></span>
												}
											</info-icon>
										</dd>
									</div>
								}
								@if (config.category) {
									<div class="tw-flex tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
										<dt class="tw-text-sm tw-text-darkgray">
											{{ 'General.category' | translate }}
										</dt>
										<dd class="tw-text-sm tw-text-oebblack tw-font-medium md:tw-ml-2">
											{{ config.category }}
										</dd>
									</div>
								}
								@if (config.duration) {
									<div class="tw-flex tw-text-sm tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
										<dt class="tw-text-darkgray">
											{{ 'RecBadgeDetail.duration' | translate }}
										</dt>
										<dd class="tw-text-oebblack tw-font-medium md:tw-ml-2">
											{{ +config.duration | hourPipe }} {{ 'RecBadge.hours' | translate }}
										</dd>
									</div>
								}
								@if (config.createdAt) {
									<div class="tw-flex tw-text-sm tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
										<dt class="tw-text-darkgray">{{ 'Badge.createdOn' | translate }}</dt>
										<dd class="tw-font-medium md:tw-ml-2 tw-text-oebblack">
											<time [date]="config.createdAt" format="dd.MM.y"></time>
										</dd>
									</div>
								}
								@if (config.issuedOn) {
									<div class="tw-flex tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
										<dt class="tw-text-sm tw-text-darkgray">
											{{ 'RecBadgeDetail.issuedOn' | translate }}
										</dt>
										<dd class="tw-text-sm tw-font-medium tw-text-oebblack md:tw-ml-2">
											<time [date]="config.issuedOn" format="dd.MM.y"></time>
										</dd>
									</div>
								}
								@if (config.issuedTo) {
									<div class="tw-flex tw-mt-2 tw-pt-2 md:tw-flex-row tw-flex-col">
										<dt class="tw-text-sm tw-text-darkgray">
											{{ 'RecBadgeDetail.awardedTo' | translate }}
										</dt>
										<dd class="tw-text-sm tw-break-words tw-font-medium">
											&nbsp;{{ config.issuedTo }}
										</dd>
									</div>
								}
								@if (config.license) {
									<div class="tw-mt-2 tw-pt-2 tw-flex tw-flex-row">
										<dt class="tw-text-sm tw-text-darkgray">
											{{ 'General.license' | translate }}
										</dt>
										<dd class="tw-text-sm tw-text-oebblack tw-ml-2 tw-flex">
											<div
												class="tw-ml-1 tw-w-5 tw-h-5 tw-flex tw-items-center tw-justify-center tw-border-solid tw-border-[1px] tw-border-oebblack tw-rounded-full"
											>
												<span class="tw-text-[11px]">CC</span>
											</div>
											<div
												class="tw-ml-1 tw-w-5 tw-h-5 tw-flex tw-items-center tw-justify-center tw-border-solid tw-border-[1px] tw-border-oebblack tw-rounded-full"
											>
												<span class="tw-text-[11px]">0</span>
											</div>
											<a
												class="tw-ml-2 tw-underline tw-text-[#1400FF]"
												target="_blank"
												href="https://creativecommons.org/publicdomain/zero/1.0/legalcode.de"
											>
												CC0 1.0</a
											>
										</dd>
									</div>
								}
								@if (config.tags.length > 0) {
									<div class="tw-flex tw-items-start tw-flex-col tw-mt-4">
										<dt class="tw-text-darkgray md:tw-py-2 md:tw-mr-2 tw-mb-1">Tags</dt>
										<dd class="tw-text-darkgray">
											@for (tag of config.tags; track tag; let last = $last) {
												<div class="tag tw-border-darkgray tw-mx-2 tw-ml-0 tw-max-w-24">
													{{ tag }}
												</div>
											}
										</dd>
									</div>
								}
							</dl>
						</div>
					</div>
					<div class="md:tw-pb-8 md:tw-min-h-[800px] tw-w-full">
						<div class="tw-text-oebblack tw-pt-0 tw-pb-4 oeb-break-words">
							<h3 class="tw-font-semibold tw-leading-[26.4px] tw-text-[22px] tw-text-oebblack tw-mb-4">
								{{ 'CreateBadge.shortDescription' | translate }}
							</h3>
							<p hlmP class="tw-text-oebblack tw-w-full">{{ config.badgeDescription }}</p>
						</div>
						<!-- Kompetenzen -->
						@if (config.competencies && config.competencies.length > 0) {
							<section class="tw-text-oebblack tw-pb-8">
								<h3
									class="tw-text-[22px] tw-leading-[26.4px] tw-font-semibold tw-text-oebblack u-margin-bottom2x u-margin-top4x"
								>
									{{ 'RecBadgeDetail.competencies' | translate }}
								</h3>
								<div>
									@for (competency of config.competencies; track competency; let i = $index) {
										<div>
											<competency-accordion
												[name]="competency.name"
												[category]="competency.category"
												[description]="competency.description"
												[framework]="competency.framework"
												[framework_identifier]="competency.framework_identifier"
												[studyload]="(competency.studyLoad | hourPipe) + ' h'"
											></competency-accordion>
										</div>
									}
								</div>
							</section>
						}
						<ng-content></ng-content>
						@if (config.learningPaths.length > 0) {
							<div>
								<oeb-separator class="tw-block tw-mb-8 tw-mt-8"></oeb-separator>
								<span
									class="tw-my-2 tw-text-oebblack tw-text-[22px] tw-leading-[26px] tw-font-semibold"
								>
									{{ 'Badge.partOfLearningPath' | translate }}
								</span>
								<div class="tw-mt-8 tw-grid tw-grid-cols-learningpaths tw-gap-6">
									@for (lp of getLearningPaths(); track lp) {
										@if (lp.activated) {
											<bg-learningpathcard
												[name]="lp.name"
												[badgeImage]="$any(lp).participationBadge_image"
												[issuerTitle]="lp.issuer_name"
												[description]="lp.description"
												[slug]="lp.slug"
												[tags]="lp.tags"
												[studyLoad]="calculateStudyLoad(lp)"
												[progress]="lp.progress"
												[matchOrProgress]="calculateLearningPathStatus(lp)"
												[requested]="lp.requested"
												[completed]="checkCompleted(lp)"
											></bg-learningpathcard>
										}
									}
								</div>
							</div>
						}
					</div>
				</div>
			</div>
		</main>
	}
</ng-template>
