<h3 class="backgroundgraphic  graphicheadline ">Willkommen bei <span class="u-text-bold u-text-light1">MINT-O-Badges</span></h3>
<div class="callouts  l-callouts ">
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBadge" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline" i18n>Share your story <span>Badges</span></h4>
			<p class="callouts-x-graf" i18n>Badges are your achievements that show when and how you achieved them. They are made to be shared!</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageBackpack" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline" i18n>Save your badges in your <span>Backpack</span></h4>
			<p class="callouts-x-graf" i18n>Organize, display and manage your badges.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageCollections" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline" i18n>Sort your badges into <span>Collections</span></h4>
			<p class="callouts-x-graf" i18n>Share your badges with the desired group of people.</p>
		</div>
	</section>
	<section class="callouts-x-callout">
		<img class="callouts-x-image" [src]="imageIssuer" />
		<div class="callouts-x-copy">
			<h4 class="callouts-x-headline" i18n>Bid as <span>Issuer</span> Badges for skills.</h4>
			<p class="callouts-x-graf" i18n> Individual people or organizations can award badges. Register as an issuer!</p>
		</div>
	</section>
	<div class="callouts-x-callout">
		<div class="callouts-x-buttons">
			<button routerLink="/recipient/badges" class="callouts-x-button button" i18n>Let's go!</button>
		</div>
	</div>
</div>
