@import '@angular/cdk/overlay-prebuilt.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(typography.scss);
@import url(elements.scss);

.oeb {
	font-family: rubik;
}
/* colors from mycelia */
:root {
	--color-black: #323232;
	--color-blue: #7e73ff;
	--color-yellow: #ffcc00;
	--color-purple: #492e98;
	--color-brightpurple: #9747ff;
	--color-buttonhover: #6e30f2;
	--color-red: #ff5556;
	--color-lightred: #ff8383;
	--color-pink: #ffbab9;
	--color-lightpink: #fff6f6;
	--color-lightgreen: #ecfeed;
	--color-green: #93f993;
	--color-white: #ffffff;
	--color-lightgray: #f5f5f5;
	--color-grayinteractive: #cfcece;
	--color-lightpurple: #f1f0ff;
	--color-interactive1: var(--color-purple);
	--color-interactive3: var(--color-lightgray);
	--color-link: #1400ff;

	// spartan
	--font-sans: '';
	--background: 0 0% 100%;
	--foreground: 240 10% 3.9%;
	--card: 0 0% 100%;
	--card-foreground: 240 10% 3.9%;
	--popover: 0 0% 100%;
	--popover-foreground: 240 10% 3.9%;
	--primary: 240 5.9% 10%;
	--primary-foreground: 0 0% 98%;
	--secondary: 240 4.8% 95.9%;
	--secondary-foreground: 240 5.9% 10%;
	--muted: 240 4.8% 95.9%;
	--muted-foreground: 240 3.8% 46.1%;
	--accent: 240 4.8% 95.9%;
	--accent-foreground: 240 5.9% 10%;
	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 0 0% 98%;
	--border: 240 5.9% 90%;
	--input: 240 5.9% 90%;
	--ring: 240 5.9% 10%;
	--radius: 0.5rem;
}

.navbar {
	background-color: var(--color-lightgray);
}

.navitem {
	font-weight: 400;
	line-height: 30px;
	color: var(--color-black);
}

.navitem .navitem-x-icon {
	fill: var(--color-black);
}

.navitem:focus::after,
.navitem:hover::after {
	background-color: var(--color-grayinteractive);
}
.navitem:active::after,
.navitem.navitem-is-active::after {
	background-color: var(--color-black);
}

.menuitem {
	color: var(--color-black);
}

.menutoggle:focus::before,
.menutoggle:hover::before {
	box-shadow: inset 0 0 0 1px var(--color-black);
}

.menutoggle.menutoggle-is-active span:nth-child(1) {
	background: var(--color-white);
}

.menutoggle.menutoggle-is-active span:nth-child(3) {
	background: var(--color-white);
}

.menutoggle.menutoggle-is-active:focus::before,
.menutoggle.menutoggle-is-active:hover::before {
	box-shadow: inset 0 0 0 1px var(--color-white);
}

.menutoggle span {
	background: var(--color-black);
}

.topbar .topbar-x-heading {
	color: var(--color-interactive1);
}

.topbar .topbar-x-subheading {
	color: var(--color-black);
}

.footer {
	border-top: none;
	padding-top: calc(var(--gridspacing) * 12);
	padding-bottom: calc(var(--gridspacing) * 12);
}

.footer [href] {
	color: var(--color-purple);
}

.footer[href]:hover,
.footer [href]:hover {
	color: var(--color-purple);
	text-decoration: underline;
}

.footer .footer-x-links li:not(:last-child) {
	border-right: none;
	margin-right: unset;
	padding-right: unset;
}

.navbar .navbar-x-logo img {
	height: unset;
	max-width: 134px;
}

.u-background-light2 {
	background-color: white;
}

.forminput .forminput-x-label {
	--typography-size: 20px;
	font-size: var(--typography-size);
	font-style: normal;
	line-height: calc(var(--typography-size) + 4px);
	font-weight: 600;
	display: block;
	margin-bottom: 3px;
}

.forminput .forminput-x-formFieldAside {
	font-weight: 400;
}

.forminput .forminput-x-inputs input {
	height: 40px;
	border: 1px solid var(--color-purple);
	border-radius: 10px;
}

.forminput-hide-arrows {
	/* Hide arrows from input number - Firefox */
	.forminput-x-inputs input[type='number'] {
		-moz-appearance: textfield;
	}

	/* Hide arrows from input number - Chrome, Safari, Edge, Opera */
	.forminput .forminput-x-inputs input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}

.badge-header {
    --typography-size: 32px;
    font-family: var(--font-family);
    font-size: var(--typography-size);
    line-height: calc(var(--typography-size) + 8px);
    font-weight: bold;
    color: var(--color-dark1);
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    // padding-left: calc(var(--gridspacing) * 2);
    // padding-right: calc(var(--gridspacing) * 2);
    padding-bottom: calc(var(--gridspacing) * 2);
    padding-top: calc(var(--gridspacing) * 4);
    display: grid;
    grid-gap: calc(var(--gridspacing) * 2);
}

.badge-header-btn {
	display: grid;
	grid-gap: var(--gridspacing);
	grid-template-columns: 0fr auto;
}

.three-dots {
	align-items: center;
	background: var(--color-light1);
	border-radius: 7px;
	border: solid 1px var(--color-light4);
	color: var(--color-dark3);
	display: flex;
	justify-content: center;
	font-family: var(--font-family);
	font-size: var(--font-size-small);
	font-weight: 600;
	letter-spacing: var(--letterspacing);
	line-height: var(--line-height-small);
	position: relative;
	cursor: pointer;
}
.issuer-image {
    width: 37.1px;
    height: 37.1px;
}

.badge-image{
    width: 120.88px;
    height: 120.88px
}

.three-dots > svg {
	display: inline;
	fill: var(--color-dark4);
	/* height: 18px; */
	/* width: 18px; */
}
.three-dots:hover {
	background: var(--color-light1);
	color: var(--color-interactive2);
}
.three-dots:hover svg {
	fill: var(--color-interactive2);
}
.threedots-secondary {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--color-light1);
	color: var(--color-interactive1);
	border: solid 1px var(--color-light4);
}
.threedots-secondary > svg {
	width: 38.37px;
	fill: var(--color-interactive1);
}

.badge-sidebar {
    padding-left: calc(var(--gridspacing) * 2);
	padding-right: calc(var(--gridspacing) * 2);
	padding-bottom: calc(var(--gridspacing) * 4);
    width: 358px;    
}

.badge-sidebar-internal {
    padding: calc(var(--gridspacing) * 2);
	padding-top: calc(var(--gridspacing) * 4);
	border-radius: 14px;
    display: grid;
    grid-template-columns: 195px auto;
    grid-gap: calc(var(--gridspacing) * 2);
    background-color: #ecfeed;
}

.badge-detail-body {
    padding: calc(var(--gridspacing) * 2);
	padding-top: 0px;
	padding-bottom: calc(var(--gridspacing) * 6);
    min-height: 800px
}

.badge-description {
    --typography-size: 16px;
	font-family: var(--font-family);
	font-size: var(--typography-size);
	line-height: calc(var(--typography-size) + 8px);
	padding: calc(var(--gridspacing) * 2);
	padding-top: 0px;
	padding-bottom: calc(var(--gridspacing) * 4);
}

.badge-competencies {
	--typography-size: 16px;
	font-family: var(--font-family);
	font-size: var(--typography-size);
	line-height: calc(var(--typography-size) + 8px);
	padding: calc(var(--gridspacing) * 2);
	padding-top: 0px;
	padding-bottom: calc(var(--gridspacing) * 4);
}

.issuer-image {
    width: 37.1px;
    height: 37.1px;
}

.badge-image{
    width: 120.88px;
    height: 120.88px
}

@media (min-width: 768px) {
	.o-container:not(.o-container-is-managed) .navbar .navbar-x-logo img {
		max-width: 134px;
	}

	.badge-header-btn {
        grid-template-columns: 1fr auto;
    }
    
    .badge-header {
        /* padding-left: calc(346px + 48px + 16px); */
        display: flex;
        justify-content: space-between;
        align-items: center;
		left: calc(var(--gridspacing) * 2);
        grid-gap: calc(var(--gridspacing) * 3);
        margin-bottom: 1rem;
    }
    .badge-header > :last-child {
        grid-row: 1 / 1;
        justify-content: end;
    }
	.badge-sidebar {
		position: absolute;
		left: calc(var(--gridspacing) * 2);
		width: 346px;
		padding: 0px;
	}
    .badge-sidebar-internal{
        padding-top: calc(var(--gridspacing) * 6);
        display: flex;
        flex-direction: column;
    }
	.badge-detail-body{
		padding-left: calc(346px + 48px + 16px);
		padding-bottom: calc(var(--gridspacing) * 6);   
    }

	.issuer-image {
        width: 53px;
        height: 53px;
    }

	.badge-image{
        width: 172.69px;
        height: 172.69px
    }
    .tag-container{
      padding-top: calc(var(--gridspacing) * 2);
    }
}

@media (max-width: 768px) {
	.forminput .forminput-x-inputs input {
		height: 27.742px;
		border-radius: 7px;
		border: 0.7px solid var(--color-purple);
	}

	.forminput .forminput-x-label {
		--typography-size: 14px;
		font-size: var(--typography-size);
		line-height: 16.8px;
	}

	.u-margin-bottom2x {
		margin-bottom: 10px;
	}

}


#altcha_checkbox {
	appearance: auto;
}
