@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(typography.scss);
@import url(elements.scss);

.oeb {
    font-family: rubik;   
}
  /* colors from mycelia */
:root{
  --color-black: #323232;
  --color-yellow: #ffcc00;
  --color-purple: #492E98;
  --color-red: #ff5556;
  --color-pink: #ffbab9;
  --color-lightgreen: #ecfeed;
  --color-green: #93f993;
  --color-white: #ffffff;
  --color-lightgray: #f5f5f5;
  --color-grayinteractive: #cfcece;
  --color-lightpurple: #F1F0FF;
}