<div class="l-containerxaxis l-containeryaxis" i18n>
	<form-message></form-message>

	<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Imprint</h1>
	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">According to § 5 TMG:</h3>
	<p>Reedu GmbH & Co. KG Von-Steuben-Str. 21 48143 Münster</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Vertreten durch:</h3>
	<p>
		Reedu Verwaltungs GmbH, represented by the managing directors Dr. Thomas Bartoschek, Jan A. Wirwahn and Umut Tas
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Contact:</h3>
	<p>Phone: +49 251 98119797 E-Mail: kontakt&#64;reedu.de</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Managing Director:</h3>
	<p>Dr. Thomas Bartoschek, Jan A. Wirwahn & Umut Tas</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Register entry:</h3>
	<p>Registration in the commercial register. Registration court: Münster District Court Registration number: HRA 10639</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Value Added Tax:</h3>
	<p>Sales tax identification number in accordance with Section 27 a of the Sales Tax Act: DE317828779</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		Responsible for the content according to Section 55 Paragraph 2 RStV:
	</h3>
	<p>Umut Tas Von-Steuben-Str. 21 48143, Münster</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Dispute resolution:</h3>
	<p>
		The European Commission provides a platform for online dispute resolution (OS):
		https://ec.europa.eu/consumers/odr. You can find our email address in the legal notice above. We are not ready
		or obliged to take part in dispute resolution proceedings before a consumer arbitration board.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Liability for content:</h3>
	<p>
		As a service provider, we are responsible for our own content on these pages in accordance with the general terms and conditions in accordance with Section 7 Paragraph 1 TMG
		responsible to laws. However, according to Sections 8 to 10 TMG, we as service providers are not obliged to
		to monitor transmitted or stored third-party information or to investigate circumstances that indicate a
		indicate illegal activity. Obligations to remove or block use of information
		according to general laws remain unaffected. However, liability in this regard is only applicable from
		Time of knowledge of a specific legal violation possible. If relevant information becomes known
		We will immediately remove this content if it violates the law.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">Liability for links:</h3>
	<p>
		Our offer contains links to external third-party websites over whose content we have no influence. For this reason
		We cannot assume any liability for this third-party content. For the content of the linked pages
		The respective provider or operator of the pages is always responsible. The linked pages were
		Checked for possible legal violations at the time of linking. Illegal content was at the time of
		Link not recognizable. However, there is no permanent control of the content of the linked pages
		Evidence of a legal violation is unreasonable. If we become aware of legal violations, we will
		remove such links immediately.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">copyright</h3>
	<p>
		The content and works on these pages created by the site operators are subject to German law
		Copyright. Reproduction, processing, distribution and any kind of exploitation outside the borders
		copyright requires the written consent of the respective author or creator. Downloads and
		Copies of this page are permitted for private, non-commercial use only. As far as the content
		If this site was not created by the operator, the copyrights of third parties are respected. In particular will
		Third party content marked as such. Should you nevertheless become aware of a copyright infringement
		please inform us accordingly. If we become aware of legal violations, we will
		remove such content immediately.
	</p>

	<h1 class="u-text-h1-bold u-margin-bottom2x u-text-dark2 u-margin-top4x">Data protection</h1>
	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		I. NAME AND ADDRESS OF THE RESPONSIBLE
	</h3>
	<p>
		The person responsible within the meaning of the General Data Protection Regulation and other national data protection laws
		Member states and other data protection regulations are:
		<br />
		Dr. Thomas Bartoschek
		<br />
		Reedu GmbH & Co. KG
		<br />
		Von-Steuben-Str. 21
		<br />
		48143 Münster
		<br />
		Deutschland
		<br />
		E-Mail: kontakt&#64;reedu.de
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		II. NAME AND ADDRESS OF DATA PROTECTION OFFICER
	</h3>
	<p>
		The data protection officer of the person responsible is:
		<br />
		Umut Tas
		<br />
		Reedu GmbH & Co. KG
		<br />
		Von-Steuben-Str. 21
		<br />
		48143 Münster
		<br />
		Deutschland
		<br />
		E-Mail: kontakt&#64;reedu.de
		<br />
		E-Mail: u.tas&#64;reedu.de
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		III. GENERAL INFORMATION ON DATA PROCESSING
	</h3>

	<p>
		1. Scope of processing personal data
		<br />
		We generally only collect and use personal data from our users to the extent that this is necessary
		Provision of a functional website as well as our content and services is necessary and
		a legal basis allows us to do this.

		<br />
		2. Legal basis for processing personal data

		<br />
		The legal basis for the processing of your personal data is Article 6 Paragraph 1 Letter b GDPR. The
		Processing of our users' personal data regularly only takes place with the user's consent. One
		An exception applies in cases where prior consent must be obtained for actual reasons
		is not possible and the processing of the data is permitted by legal regulations.
		<br />
		3. Data deletion and storage period
		<br />
		Your personal data will be deleted or blocked as soon as the purpose of storage no longer applies. One
		Storage can also take place if this is required by national or European regulations
		we are subject to, was provided. In this case, the data will be blocked or deleted if the
		The storage period prescribed in the respective regulations has expired. The latter does not apply if
		further storage of the data is necessary for the conclusion or fulfillment of a contract.
		<br />
		This website uses for security reasons and to protect the transmission of personal data
		other confidential content requires SSL or TLS encryption. You can have an encrypted connection
		the character string “//” and the lock symbol in your browser line.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">
		IV. PROVISION OF THE WEBSITE AND CREATION OF LOGFILES
	</h3>
	<p>
		1. Description and scope of data processing
		<br />
		When you access this website, you transmit data to our web server via your browser
		Web host “Hetzner Online GmbH”, which is located in Germany. The following data is recorded during a
		The current connection is only temporarily recorded in a log file in the event of an error:
		<br />
		IP address of the requesting computer
		<br />
		Date and time of access
		<br />
		Name, URL and amount of data transferred for the requested file
		<br />
		Access status (requested file transferred, not found, etc.)
		<br />Browser type and operating system (if provided by the requesting web browser)

		<br />
		Website from which access was made (if transmitted by the requesting web browser)
		<br />The data is also stored in the log files of our system. A storage of this data
		together with other personal data of the user does not take place, unless there are actual
		There are indications of a disruption to proper operation.
		<br />
		2. Legal basis for data processing
		<br />The legal basis for the temporary storage of data and log files is Art. 6 Para. 1 lit. f
		GDPR and Art.49 GDPR. <br />3. Purpose of data processing <br />The temporary storage of the IP address
		through the system is necessary in order to deliver the website to the user's computer
		make possible. To do this, the user's IP address must remain stored for the duration of the session. The
		It is stored in a log file to ensure the functionality of the website. In addition, they serve us
		the data to optimize the website and to ensure the security of our information technology
		systems. The IP addresses contained in the log entries are not shared with other data sets
		merged unless there are actual indications of a disruption to proper operation
		before.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">V. REGISTRIERUNG</h3>
	<p>
		1. Description and scope of data processing
		<br />The data subject has the opportunity to log on to https://ui.mint-o-badges.opensenselab.org by providing personal details
		Register data in order to use additional functions of the website. What personal data?
		transmitted to the person responsible for processing results from the respective data
		Input mask used for registration. The entry does not have to be made under a real name,
		Anonymous login data can also be used. <br />By registering on the website
		The person responsible for processing is also the Internet service provider (ISP) of the data subject
		assigned IP address, the date and time of registration are stored. The storage of this data
		takes place against the background that this is the only way to prevent misuse of our services and this data
		If necessary, make it possible to investigate crimes committed. In this respect, the storage of this data serves
		Protection of the person responsible for processing. This data will be passed on to third parties
		In principle not, unless there is a legal obligation to pass it on or the passing on of the data is required
		Law enforcement is used. <br />2. Legal basis for data processing <br />Legal basis for the
		Processing of the data is Article 6 Paragraph 1 Sentence 1 Letter a) GDPR and Article 49 GDPR. <br />3. Purpose of
		Data processing <br />The personal data entered by the data subject will be
		exclusively for internal use, by the data controller and for its own purposes
		collected and stored. <br />The registration of the data subject with voluntary information
		personal data and his express consent in the form of a click confirmation serves this purpose
		The person responsible for processing to offer the data subject content or services that are based on the
		Nature of the matter can only be offered to registered users. <br />4. contradiction and
		Possibility of removal <br />You can revoke your consent at any time. That's enough
		an informal message to us by email. The lawfulness of the data processing that has already taken place remains
		unaffected by the revocation.
		<br />
		Registered persons are free to use the personal data provided during registration
		to change it at any time or to delete it completely from the data base of the person responsible for processing
		let. The person responsible for processing will provide information to any data subject at any time upon request
		about what personal data is stored about the data subject. Further corrected or
		the person responsible for processing deletes personal data at the request or notice of those affected
		person, provided there are no legal retention obligations to the contrary. The entirety of the employees
		The person responsible for processing acts as a contact person for the data subject in this context
		available.
	</p>

	<h3 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-margin-top4x">VI. BETROFFENENRECHTE</h3>

	<p>
		1. right of providing information
		<br />The data subject has the right to request confirmation from the person responsible as to whether they
		relevant personal data are processed. If this is the case, the person concerned has a
		Right to information about what personal data is involved and for what purposes it is processed
		become. You also have the right to information about the duration of the planned storage of this data or
		which criteria are used to determine the storage period. <br />2. Right to rectification
		<br />The person concerned has the right to request that we immediately correct any incorrect information concerning him
		to request personal data. You also have the right to request that we delete it immediately
		to request the relevant personal data as soon as the purpose of storage no longer applies or if the
		Processing is based on the consent of the data subject if it revokes his consent and no
		There is another legal basis for the processing. <br />3. Right to deletion <br />Personal data
		The data of the person concerned will continue to be deleted if they object to the data subject in accordance with Article 21 Para. 1 GDPR
		processing and there are no overriding legitimate reasons for the processing if the
		personal data has been processed unlawfully or if the deletion is necessary to fulfill a legal obligation
		Obligation by the European or national <br />legislator in regulations to which the
		responsible person, was provided. <br />3.1 Exceptions <br />However, deletion takes place in the above
		The cases presented do not apply if the processing of personal data is necessary for the
		Responsible person has a legal obligation imposed on them by the European or national legislator
		was imposed, can fulfill or if the processing is carried out to carry out a task of the controller
		is carried out in the public interest or in the exercise of official authority
		has been transferred to the person responsible or if the further storage of the personal data is required
		It is necessary to assert, exercise or defend legal claims.
		<br />
		<br />If the processing of personal data is based on the consent of the person concerned, this can be done
		they can revoke their consent at any time. The processing of personal data that took place until the revocation
		remains legal despite the revocation. <br />4. Right to data portability <br />You have the right according to
		Art. 20 GDPR, the personal data concerning you that you have provided to us
		in a structured, common and machine-readable format. Furthermore, when exercising your
		Right to <br />Data portability the right to have the personal data transferred directly from you
		The person responsible is transmitted to another person responsible, insofar as this is technically feasible and
		provided that this does not affect the rights and freedoms of other people, insofar as rights and
		Freedoms of other people are not impaired. <br />5. Right to complain to a
		Supervisory authority <br />According to Art. 77 GDPR, you have the right to contact the responsible data protection authority
		supervisory authority, in this case the Bavarian State Commissioner for Data Protection, in order to do so
		to lodge a complaint. However, we recommend that you always first address a complaint to the person responsible
		to the data protection officer. <br />This data protection declaration is current as of September 2021
		currently valid. <br />Changing legal or official requirements, developments in case law
		as well as further development of our website, changes to our data protection declaration may be necessary
		make.
	</p>
</div>
