<main importLauncher>
	<form-message></form-message>

	<div class="topbar">
		<!--<div class="l-containerxaxis">
			<div class="topbar-x-breadcrumbs">
				<bg-breadcrumbs [linkentries]="crumbs">
				</bg-breadcrumbs>
			</div>
		</div>-->
		<div class="l-containerxaxis topbar-x-wrap">
			<div style="display: flex; flex-direction: column">
				<h2 class="topbar-x-heading">Willkommen in deinem Rucksack</h2>
				<p class="topbar-x-subheading">
					Hier siehst du deine gesammelten und bei OEB hochgeladenen Badges. Du kannst eigene
					<strong> Sammlungen </strong> anlegen, um die Badges darin zu organisieren und mit anderen zu
					teilen.
				</p>
				<p class="topbar-x-subheading" style="color: red">
					In der <strong> Kompetenz-Ansicht </strong> siehst du, auf welche Profile deine Badges einzahlen.
				</p>
			</div>
			<div class="l-primarymore">
				<button
					class="button topbar-x-button button-withiconleft"
					(click)="addBadge()"
					[disabled-when-requesting]="true"
				>
					<svg class="buttonicon button-x-iconleft" icon="icon_upload"></svg>
					<span style="margin-left: 1em"> <span style="font-weight: 400">Badge</span> hochladen</span>
				</button>
				<button class="button topbar-x-button" (click)="addCollection()" [disabled-when-requesting]="true">
					<span><span style="font-weight: 400">Sammlung</span> anlegen </span>
				</button>
				<!-- <button class="topbar-x-button buttonicon buttonicon-secondary" [bgPopupMenuTrigger]="collectionActionMenu">
					<svg icon="icon_more"></svg>
					<span class="visuallyhidden">mehr</span>
				</button>
				<bg-popup-menu #collectionActionMenu>
					<button
						class="menuitem"
						(click)="exportPdf()"
						loading-message="Loading badge..."
						[disabled-when-requesting]="true"
						><svg icon="icon_file"></svg>Export to PDF</button>
				</bg-popup-menu> -->
			</div>
		</div>
	</div>

	<ng-template [bgAwaitPromises]="[badgesLoaded]">
		<ng-container *ngIf="mozillaFeatureEnabled">
			<div *ngIf="!mozillaTransitionOver" #mozzBanner class="l-containerxaxis l-containeryaxis">
				<div class="notification notification-is-active notification-info">
					<div class="notification-x-icon">
						<svg icon="icon_info"></svg>
					</div>
					<div class="notification-x-text">
						<h2>{{ 'RecBadge.fromMozilla' | translate }}</h2>
						<p>
							{{ 'RecBadge.finisihAddBadge1' | translate }}
							<button (click)="launchImport($event)" class="u-display-inline u-text-link">
								{{ 'RecBadge.finisihAddBadge2' | translate }}
							</button>
							{{ 'RecBadge.finisihAddBadge3' | translate }}
						</p>
					</div>
					<button (click)="hideMozz($event)" class="notification-x-close buttonicon buttonicon-clear">
						<svg icon="icon_close"></svg>
						<span class="visuallyhidden">{{ 'RecBadge.closeNotification' | translate }}</span>
					</button>
				</div>
			</div>
		</ng-container>

		<!-- Badge Search, group and grid/list toggle -->
		<div class="l-containerxaxis l-containeryaxis" *ngIf="allBadges.length > 0">
			<div class="l-actionbar u-margin-bottom3x">
				<div class="forminput l-actionbar-x-search">
					<div class="forminput-x-inputs">
						<input
							type="text"
							name="forminput"
							id="forminput"
							placeholder="Badges durchsuchen"
							[(ngModel)]="searchQuery"
						/>
						<svg class="forminput-x-icon" icon="icon_search"></svg>
					</div>
				</div>
				<div class="l-actionbar-x-groupby">
					<label class="checkbox checkbox-small">
						<input name="groupby" type="checkbox" [(ngModel)]="groupByIssuer" />
						<span class="checkbox-x-text">Nach Institution gruppieren</span>
					</label>
				</div>
				<div
					class="viewtoggle l-actionbar-x-viewtoggle"
					[class.viewtoggle-is-listview]="badgesDisplay == 'list'"
				>
					<label class="viewtoggle-x-grid">
						<span class="visuallyhidden">grid</span>
						<input
							checked="checked"
							name="radiobutton"
							id="radiobutton1"
							type="radio"
							value="grid"
							[(ngModel)]="badgesDisplay"
						/>
						<svg icon="icon_grid"></svg>
					</label>
					<label class="viewtoggle-x-list">
						<span class="visuallyhidden">{{ 'General.list' | translate }}</span>
						<input
							type="radio"
							name="radiobutton"
							id="radiobutton2"
							value="list"
							[(ngModel)]="badgesDisplay"
						/>
						<svg icon="icon_list"></svg>
					</label>
				</div>
			</div>

			<!-- Tab Navigation Bar -->
			<div class="l-containerxaxis" style="margin-top: 2em; margin-bottom: 2em">
				<nav aria-labelledby="heading-share-options" class="tabbar tabbar-bare" style="width: 50%">
					<button
						[class.tab-is-active]="currentTabId === 'badge'"
						(click)="openTab('badge')"
						class="tab tab-bare"
					>
						<span class="visuallyhidden"> Open the </span> Badge- Ansicht
						<span class="visuallyhidden"> tab</span>
					</button>
					<button
						[class.tab-is-active]="currentTabId === 'competency'"
						(click)="openTab('competency')"
						class="tab tab-bare"
					>
						<span class="visuallyhidden"> Open the </span>Kompetenz- Ansicht
						<span class="visuallyhidden"> tab</span>
					</button>
					<button
						[class.tab-is-active]="currentTabId === 'collection'"
						(click)="openTab('collection')"
						class="tab tab-bare"
					>
						<span class="visuallyhidden"> Open the </span>Meine Sammlungen
						<span class="visuallyhidden"> tab</span>
					</button>
				</nav>
			</div>

			<!-- No badges, empty state! -->
			<section class="emptysection l-emptysection" *ngIf="allBadges.length == 0 && currentTabId === 'badge'">
				<span style="font-style: italic">Du hast noch keine Badges gesammelt.</span>
			</section>

			<!-- Grid View -->
			<ng-template [ngIf]="badgesDisplay == 'grid' && currentTabId === 'badge'">
				<!-- ------------------ UNGROUPED ------------------  -->
				<ng-template [ngIf]="!groupByIssuer">
					<div class="l-grid l-grid-large">
						<!-- TODO: Fix the badgecard link for sharing and routing -->
						<bg-badgecard
							*ngFor="let badgeResult of badgeResults"
							[badgeTitle]="badgeResult.badge.badgeClass.name"
							[badgeImage]="badgeResult.badge.image"
							[badgeDescription]="badgeResult.badge.badgeClass.description"
							[badgeIssueDate]="badgeResult?.badge?.issueDate"
							[mostRelevantStatus]="badgeResult.badge.mostRelevantStatus"
							[issuerTitle]="badgeResult.badge.badgeClass.issuer.name"
							[issuerSlug]="badgeResult.badge.badgeClass.issuer.slug"
							[badgeSlug]="badgeResult.badge.slug"
							(shareClicked)="shareBadge(badgeResult.badge)"
						></bg-badgecard>
					</div>
				</ng-template>
				<!-- ------------------ GROUP BY ISSUER ------------------  -->
				<ng-template [ngIf]="groupByIssuer">
					<div *ngFor="let issuerGroup of issuerResults">
						<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">
							{{ issuerGroup.issuer.name }}
							<span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x"
								>{{ issuerGroup.badges.length }}
								{{ issuerGroup.badges.length == 1 ? 'Badge' : 'Badges' }}</span
							>
						</h3>
						<div class="l-grid l-grid-large">
							<bg-badgecard
								*ngFor="let badge of issuerGroup.badges"
								[badgeTitle]="badge.badgeClass.name"
								[badgeImage]="badge.image"
								[badgeDescription]="badge.badgeClass.description"
								[badgeIssueDate]="badge.issueDate"
								[mostRelevantStatus]="badge.mostRelevantStatus"
								[issuerSlug]="issuerIdToSlug(issuerGroup.issuerId)"
								[issuerTitle]="badge.badgeClass.issuer.name"
								[badgeSlug]="badge.slug"
								(shareClicked)="shareBadge(badge)"
							></bg-badgecard>
						</div>
					</div>
				</ng-template>
			</ng-template>

			<!-- List View -->
			<ng-template [ngIf]="badgesDisplay == 'list'">
				<table class="datatable datatable-roundheaders datatable-onlyfirstcolumn datatable-verticalalignmiddle">
					<thead class="datatable-x-head">
						<tr class="datatable-x-header">
							<th class="datatable-x-cell" scope="col">Badge</th>
							<th class="datatable-x-cell" scope="col">{{ 'RecBadge.institution' | translate }}</th>
							<th class="datatable-x-cell" scope="col">Vergeben am</th>
							<th class="datatable-x-cell" scope="col"><span class="visuallyhidden">Actions</span></th>
						</tr>
					</thead>
					<tbody class="datatable-x-body">
						<!-- Issuer title if grouped by issuer -->
						<ng-template ngFor let-issuerGroup [ngForOf]="issuerResults" let-i="index">
							<tr class="datatable-x-row" *ngIf="groupByIssuer">
								<th class="datatable-x-inlineheader" scope="row" colspan="4">
									<a
										class="u-text u-text-link u-text-breakword"
										[routerLink]="['../../public/issuers', issuerIdToSlug(issuerGroup.issuerId)]"
									>
										{{ issuerGroup.issuer.name }}
									</a>
								</th>
							</tr>
							<!-- Badges -->
							<ng-template ngFor let-badge [ngForOf]="issuerGroup.badges" let-i="index">
								<tr class="datatable-x-row">
									<td class="datatable-x-cell">
										<div class="l-flex l-flex-2x l-flex-aligncenter">
											<img
												class="badgeimage badgeimage-{{
													badge.mostRelevantStatus
												}} badgeimage-small u-margin-right2x l-flex-x-shrink0"
												width="40"
												[loading-src]="badgeLoadingImageUrl"
												[error-src]="badgeFailedImageUrl"
												[loaded-src]="badge.image"
											/>
											<a
												class="u-text u-text-link u-text-breakword"
												[routerLink]="['../earned-badge', badge.slug]"
												>{{ badge.badgeClass.name }}</a
											>
											<div
												class="datatable-x-status badgestatus badgestatus-intable badgestatus-{{
													badge.mostRelevantStatus
												}}"
												*ngIf="badge.mostRelevantStatus"
											>
												{{ badge.mostRelevantStatus }}
											</div>
										</div>
									</td>
									<td class="datatable-x-cell u-text-body">
										<a
											class="u-text u-text-link u-text-breakword"
											[routerLink]="[
												'../../public/issuers',
												issuerIdToSlug(issuerGroup.issuerId)
											]"
										>
											{{ issuerGroup.issuer.name }}
										</a>
									</td>
									<td class="datatable-x-cell u-text-body">
										<time [date]="badge?.issueDate" format="mediumDate"></time>
									</td>
									<td class="datatable-x-cell">
										<button
											class="u-text-link-small u-text-bold u-margin-leftauto"
											(click)="shareBadge(badge)"
										>
											Teilen
										</button>
									</td>
								</tr>
							</ng-template>
						</ng-template>
					</tbody>
				</table>
			</ng-template>
		</div>
	</ng-template>
	<add-badge-dialog #addBadgeDialog></add-badge-dialog>
</main>
