<div class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="topbar-x-heading" i18n>About MINT-O-Badges</h2>
	</div>
</div>
<div class="l-containerxaxis l-containeryaxis">
	<form-message></form-message>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<div class="formsection-x-body">
			<p i18n>
				MINT-O-Badges is based on preliminary considerations for an open badge system that can be used in schools and schools
				can be used in an extracurricular context as well as an initial technical feasibility study for one
				“Open Badges Platform” at the Institute for Geoinformatics at the University of Münster as part of the BMBF project
				senseBox Pro was carried out. As part of the hackathon “#WirFürSchule” 2020, a...
				The project idea was further developed by an interdisciplinary team and an initial prototype was implemented. This one
				This version of MINT-O-Badges is based on the open source Open Badges standard "badgr" from
				concentricsky and was created with the kind support of the Deutsche Telekom Foundation by re:edu GmbH &
				Co. KG implemented in collaboration with Junge Tüftler*innen gGmbH. A development of integrations too
				Platforms of the senseBox Pro project (Blockly learning environment and openSenseMap) are used as part of the
				BMBF funding developed.
			</p>
			<p style="padding-top: 1.5rem" i18n>Kontakt: <a href="mailto:info@mybadges.org">info&#64;mybadges.org</a></p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>Ein Projekt von</h2>

		<div class="formsection-x-body">
			<div class="container">
				<div class="child">
					<div class="logo">
						<a href="https://reedu.de/">
							<img src="assets/logos/reedu.jpg" />
						</a>
					</div>
				</div>
				<div class="child">
					<div class="logo">
						<a href="https://junge-tueftler.de/">
							<img src="assets/logos/JT-Logo.png" />
						</a>
					</div>
				</div>
				<div class="child">
					<div class="logo">
						<a href="https://ifgi.de/">
							<img src="assets/logos/Logo_ifgi_long.png" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>Supported by the</h2>

		<div class="formsection-x-body">
			<div class="container">
				<div class="child">
					<div class="logo">
						<a href="https://www.telekom-stiftung.de/">
							<img src="assets/logos/T_deutsche_telekom_stiftung_partner_label_rgb_n.png" />
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>Financial support</h2>

		<div class="formsection-x-body">
			<div class="foerderung">
				<img src="assets/logos/BMBF_CMYK_Gef_L.png" />
				<div>
					<p i18n>
						With the funding measure 'Open Photonics Pro', the Federal Ministry of Education and...
						Research (BMBF) aims to develop new forms of cooperation between science and business
						to enable the maker and founder scene. The aim is to open up additional areas
						Innovation paths and potential. At the same time, innovation cycles should be significantly shortened and
						the networking of these groups can be sustainably improved.
					</p>
					<a
						href="https://www.photonikforschung.de/projekte/open-innovation/foerdermassnahme/open-photonik-pro.html"
						i18n>More about the funding measure</a
					>
				</div>
			</div>
		</div>
	</div>
</div>
