/* new style */
p {
	text-align: left;
}

h1 {
	font-weight: 400;
	font-size: 46px;
	line-height: 55.2px;
	color: black;
}

.h1-black {
	font-weight: 900;
	font-size: 46px;
	line-height: 55.2px;
	color: var(--color-blue);
}

.h2-bold {
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	color: var(--color-blue);
}

.text {
	font-weight: 400;
	font-size: 20px;
	line-height: 26px;
	color: #ffffff;
}
.text-big {
	font-weight: 400;
	font-size: 24px;
	line-height: 33.6px;
	color: black;
}

.main-paragraph {
	margin-top: 8%;
	margin-bottom: 12%;
}

.supportby-section {
	background-color: #f1f0ff;
	margin-top: 7%;
}

.supporter-main-style {
	display: flex;
	flex-direction: column;
	gap: 40px;
	margin-top: 4%;
	margin-bottom: 4%;

	> div {
		display: flex;
		/* justify-content: space-between; */
		align-items: center;
		gap: 45px;

		> p {
			width: 60%;
		}
	}
}

.projects-style {
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-top: 6em;

	> div {
		display: flex;
		flex-direction: column;
		/* gap: 35px; */
		align-items: center;
		color: var(--color-blue);
		flex: 1 1 0;

		/* Logo */
		.projects-logo-style {
			width: 100%;
			height: 250px;
			border: 0.75px solid;
			border-radius: 20px 20px 0 0;
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: center;
			/* padding: 25px 0 25px 0; */

			> img {
				height: auto !important;
				width: 185px;
				padding: 25px;
			}
		}

		/* Project description title and description */
		.projects-desc-style {
			width: 100%;
			background-color: var(--color-blue);
			padding: 20px 0 40px 0;
			border: 0.75px solid;
			border-radius: 0 0 20px 20px;

			> h3 {
				font-weight: 500;
				font-size: 22px;
				line-height: 26.4px;
				color: #ffffff;
				margin-bottom: 15px;
				padding: 0 30px 0 30px;
			}

			> p {
				text-align: left;
				padding: 0 30px 0 30px;
			}
		}
	}
}

.full-width {
	margin-left: -16px;
	margin-right: -16px;
}

.fund-style {
	display: flex;
	justify-content: space-between;
	margin: 3em 0 3em 0;
	align-items: baseline;
}

.join-us-style {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.join-us-card {
	width: 70%;
	background-color: var(--color-grün);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px 40px 60px 40px;
	border-radius: 20px;
}

.circle-logo {
	position: absolute;
	top: 1em;
	left: 3em;
}
.network-logo {
	position: absolute;
	left: -7.8em;
	bottom: 2em;
}

@media (max-width: 1580px) {
	.badge-logo {
		width: calc(325px*0.9);
	}
	.circle-logo {
		width: calc(145px*0.9);
	}
	.network-logo {
		width: calc(223px*0.9);
		/* width: 200px; */
	}
	.main-paragraph {
		margin-bottom: 9.5%;
	}
}

 @media (max-width: 1518px) {
	.badge-logo {
		width: calc(325px*85/100);
		/* width: 271px; */
	}

	.circle-logo {
		width: calc(145px*85/100);
		/* width: 117px; */
	}
	.network-logo {
		width: calc(223px*85/100);
		/* width: 180px; */
		/* left: -6.2em; */
	}
	.main-paragraph {
		margin-bottom: 0%;
	}
	.supportby-section {
		margin-top: 6%;
	}
}

@media (max-width: 1450px) {
	.badge-logo {
		width: 244px;
	}
	.circle-logo {
		width: 105px;
	}
	.network-logo {
		width: 162px;
		left: -5.5em;
	}
	.supportby-section {
		margin-top: 3%;
	}
}


@media (max-width: 1350px) {
	.badge-logo {
		width: 219px;
	}
	.circle-logo {
		width: 95px;
	}
	.network-logo {
		width: 146px;
		left: -5.5em;
	}
	.supportby-section {
		margin-top: 3%;
	}

	/* .text-big{
		max-width: 75% !important;
	} */
}


@media (max-width: 1290px) {
	h1 {
		font-size: 42px;
		line-height: 50.2px;
	}

	.h1-black {
		font-size: 42px;
		line-height: 50.2px;
	}

	.h2-bold {
		font-size: 27px;
		line-height: 31px;
	}

	.text {
		font-size: 18px;
		line-height: 24px;
	}

	.text-big {
		font-size: 22px;
		line-height: 25.8px;
	}

	.supportby-section img {
		width: 250px;
	}
}

@media (max-width: 1100px) {
	h1 {
		font-size: 40px;
		line-height: 48.2px;
	}

	.h1-black {
		font-size: 40px;
		line-height: 48.2px;
	}

	.h2-bold {
		font-size: 25px;
		line-height: 30px;
	}

	.text {
		font-size: 17px;
		line-height: 23px;
	}

	.text-big {
		font-size: 20px;
		line-height: 23.8px;
	}

	.supportby-section img {
		width: 220px;
	}
}

/* @media (max-width: 1100px) {
	.badge-logo {
		width: 200px;
	}
} */

@media (min-width: 768px) {
	.full-width {
		margin-left: -24px;
		margin-right: -24px;
	}
}

@media (min-width: 1224px) {
	.full-width {
		margin-left: calc(-100vw / 2 + (50% + 600px) / 2);
		margin-right: calc(-100vw / 2 + (50% + 600px) / 2);
	}
}
