<div class="oeb tw-relative tw-w-full">
	<div class="page-padding">
		<div
			*bgAwaitPromises="[inviteLoaded]"
			class="tw-bg-lightgrey tw-py-7 tw-pl-8 tw-pr-10 md:tw-py-[60px] md:tw-pl-28 md:tw-pr-40 tw-flex md:tw-justify-between"
		>
			@if (alreadyConfirmed) {
				<div class="tw-flex tw-flex-col tw-gap-16">
					<p
						class="md:tw-text-3xl tw-text-oebblack"
						[innerHTML]="
							'Network.alreadyConfirmed'
								| translate
									: {
											networkName: invite.network.name,
											issuerName: invite.issuer.name
									  }
						"
					></p>
					<oeb-button
						[routerLink]="['/issuer/networks', invite.network.slug]"
						[text]="'Network.view' | translate"
					>
					</oeb-button>
				</div>
			} @else {
				<div class="tw-w-full tw-flex tw-gap-20">
					<div class="tw-flex tw-flex-col tw-gap-16">
						<p
							class="md:tw-text-3xl tw-text-oebblack"
							[innerHTML]="
								'Network.confirmNetworkInvitation'
									| translate
										: {
												networkName: invite.network.name,
												issuerName: invite.issuer.name
										  }
							"
						></p>
						<oeb-button (click)="confirmInvitation()" [text]="'Network.confirmInvitation' | translate">
						</oeb-button>
					</div>
					<img class="tw-w-16 md:tw-w-[230px]" src="/assets/oeb/images/network/Network.svg" />
				</div>
			}
		</div>
	</div>
</div>
<form-message></form-message>
