openapi: 3.0.3
info:
  title: Badgr Dashboard API Specification
  description: |
    OpenAPI specification for the missing dashboard endpoints.
    These endpoints should be implemented in the badgr-server backend.
  version: 1.0.0
  contact:
    name: Badgr Development Team

servers:
  - url: https://api.badgr.io
    description: Production server
  - url: http://localhost:8000
    description: Development server

paths:
  /v1/earner/badge-statistics:
    get:
      summary: Get Badge Statistics
      description: |
        Returns aggregated statistics about the authenticated user's badges,
        including counts by type (participation, competency, learning path),
        temporal distribution by year and month, and total counts.
      operationId: getBadgeStatistics
      tags:
        - Dashboard
        - Statistics
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response with badge statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadgeStatistics'
              examples:
                basicStats:
                  summary: Basic badge statistics
                  value:
                    total: 45
                    participation: 20
                    competency: 18
                    learningpath: 7
                    by_year:
                      - year: 2024
                        count: 28
                      - year: 2023
                        count: 17
                    by_month:
                      - year: 2024
                        month: 10
                        count: 5
                      - year: 2024
                        month: 9
                        count: 8
                      - year: 2024
                        month: 8
                        count: 6
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /v1/earner/activity:
    get:
      summary: Get Activity Feed
      description: |
        Returns a paginated feed of recent activities for the authenticated user,
        including badge awards, collection creations, and other relevant events.
      operationId: getActivityFeed
      tags:
        - Dashboard
        - Activity
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of activity items to return
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
        - name: offset
          in: query
          description: Number of items to skip for pagination
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: type
          in: query
          description: Filter by activity type
          required: false
          schema:
            type: string
            enum:
              - badge_issued
              - collection_created
              - skill_added
              - badge_shared
      responses:
        '200':
          description: Successful response with activity feed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityFeedResponse'
              examples:
                recentActivity:
                  summary: Recent user activities
                  value:
                    count: 25
                    next: "/v1/earner/activity?limit=10&offset=10"
                    previous: null
                    results:
                      - id: "act_001"
                        type: "badge_issued"
                        title: "Earned Digital Competencies Badge"
                        description: "Successfully completed digital competencies assessment"
                        timestamp: "2024-10-25T14:30:00Z"
                        metadata:
                          badge_name: "Digital Competencies"
                          issuer: "University of Example"
                      - id: "act_002"
                        type: "collection_created"
                        title: "Created 2024 Professional Development Collection"
                        description: "New collection for organizing professional badges"
                        timestamp: "2024-10-20T09:15:00Z"
                        metadata:
                          collection_name: "2024 Professional Development"
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  schemas:
    BadgeStatistics:
      type: object
      required:
        - total
        - participation
        - competency
        - learningpath
        - by_year
        - by_month
      properties:
        total:
          type: integer
          description: Total number of badges earned
          minimum: 0
          example: 45
        participation:
          type: integer
          description: Number of participation badges
          minimum: 0
          example: 20
        competency:
          type: integer
          description: Number of competency badges
          minimum: 0
          example: 18
        learningpath:
          type: integer
          description: Number of learning path badges
          minimum: 0
          example: 7
        by_year:
          type: array
          description: Badge counts grouped by year
          items:
            $ref: '#/components/schemas/YearCount'
        by_month:
          type: array
          description: Badge counts grouped by month
          items:
            $ref: '#/components/schemas/MonthCount'

    YearCount:
      type: object
      required:
        - year
        - count
      properties:
        year:
          type: integer
          description: Year (YYYY)
          minimum: 2000
          maximum: 2100
          example: 2024
        count:
          type: integer
          description: Number of badges earned in this year
          minimum: 0
          example: 28

    MonthCount:
      type: object
      required:
        - year
        - month
        - count
      properties:
        year:
          type: integer
          description: Year (YYYY)
          minimum: 2000
          maximum: 2100
          example: 2024
        month:
          type: integer
          description: Month (1-12)
          minimum: 1
          maximum: 12
          example: 10
        count:
          type: integer
          description: Number of badges earned in this month
          minimum: 0
          example: 5

    ActivityFeedResponse:
      type: object
      required:
        - count
        - results
      properties:
        count:
          type: integer
          description: Total number of activity items
          minimum: 0
          example: 25
        next:
          type: string
          nullable: true
          description: URL for next page of results
          example: "/v1/earner/activity?limit=10&offset=10"
        previous:
          type: string
          nullable: true
          description: URL for previous page of results
          example: null
        results:
          type: array
          description: Array of activity items
          items:
            $ref: '#/components/schemas/ActivityItem'

    ActivityItem:
      type: object
      required:
        - id
        - type
        - title
        - timestamp
      properties:
        id:
          type: string
          description: Unique activity identifier
          example: "act_001"
        type:
          type: string
          description: Type of activity
          enum:
            - badge_issued
            - collection_created
            - skill_added
            - badge_shared
            - institution_added
          example: "badge_issued"
        title:
          type: string
          description: Activity title
          example: "Earned Digital Competencies Badge"
        description:
          type: string
          description: Detailed activity description
          example: "Successfully completed digital competencies assessment"
        timestamp:
          type: string
          format: date-time
          description: When the activity occurred (ISO 8601)
          example: "2024-10-25T14:30:00Z"
        metadata:
          type: object
          description: Additional activity-specific metadata
          additionalProperties: true
          example:
            badge_name: "Digital Competencies"
            issuer: "University of Example"

  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        JWT token obtained from the authentication endpoint.
        Include in the Authorization header as: Bearer <token>

  responses:
    UnauthorizedError:
      description: Authentication failed or token expired
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"
              message:
                type: string
                example: "Invalid or expired authentication token"

    InternalServerError:
      description: Internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Internal Server Error"
              message:
                type: string
                example: "An unexpected error occurred"

tags:
  - name: Dashboard
    description: Dashboard data aggregation endpoints
  - name: Statistics
    description: Statistical data and analytics
  - name: Activity
    description: User activity feed and history
