<form-message></form-message>
<div class="topbar">
	<div class="l-containerxaxis">
		<div class="topbar-x-heading">{{ 'Issuer.createInstitution' | translate }}</div>
		<div class="topbar-x-subheading">{{ 'Issuer.awardBadeges' | translate }}</div>
	</div>
</div>

<div class="oeb page-padding">
	<form (ngSubmit)="onSubmit()" class="u-width-formsmall u-margin-top3x" novalidate>
		<bg-formfield-image
			#imageField
			label="{{ 'Issuer.imageOptional' | translate }}"
			imageLoaderName="issuer"
			[placeholderImage]="issuerImagePlacholderUrl"
			[control]="issuerForm.rawControlMap.issuer_image"
		></bg-formfield-image>

		<oeb-input
			label="{{ 'General.name' | translate }}"
			[control]="issuerForm.rawControlMap.issuer_name"
			[fieldType]="'text'"
			[autofocus]="true"
			errorMessage="{{ 'Issuer.enterName' | translate }}"
			#issuer_name_field
		></oeb-input>

		<oeb-input
			[label]="'Website URL'"
			[control]="issuerForm.rawControlMap.issuer_url"
			[urlField]="true"
			[fieldType]="'url'"
			errorMessage="{{ 'Issuer.enterURL' | translate }}"
			#issuer_url_field
		></oeb-input>

		<bg-formfield-select
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_email"
			label="{{ 'General.contact' | translate }} E-Mail"
			placeholder="{{ 'Issuer.enterValidEmail' | translate }}"
			[options]="emailsOptions"
			errorMessage="{{ 'Issuer.enterValidEmail' | translate }}"
		></bg-formfield-select>

		<oeb-input
			label="{{ 'General.description' | translate }}"
			[control]="issuerForm.rawControlMap.issuer_description"
			[fieldType]="'textarea'"
			errorMessage="{{ 'Issuer.enterDescription' | translate }}"
			#issuer_description_field
		></oeb-input>

		<bg-formfield-select
			class="u-margin-bottom2x"
			[control]="issuerForm.rawControlMap.issuer_category"
			label="{{ 'General.category' | translate }}"
			placeholder="{{ 'Issuer.enterCategory' | translate }}"
			[options]="[
				{
					label: 'Schule (Grundschulen, weiterführende Schulen, Berufsschulen, Institutionen formaler schulischer Bildung)',
					value: 'schule'
				},
				{
					label: 'Hochschule (Universitäten. Fachhochschulen, ...)',
					value: 'hochschule'
				},
				{
					label: 'Andere (Bibliotheken, Museen, FabLabs, Unternehmen, Vereine, ...)',
					value: 'andere'
				}
			]"
		></bg-formfield-select>

		<h2>{{ 'General.address' | translate }}</h2>

		<oeb-input
			label="{{ 'General.street' | translate }}"
			[control]="issuerForm.rawControlMap.issuer_street"
			[fieldType]="'text'"
			errorMessage="{{ 'Issuer.enterStreet' | translate }}"
			#issuer_street_field
		></oeb-input>

		<oeb-input
			label="{{ 'Issuer.houseNo' | translate }}"
			[control]="issuerForm.rawControlMap.issuer_streetnumber"
			[fieldType]="'number'"
			errorMessage="{{ 'Issuer.enterHouseNo' | translate }}"
			#issuer_streetnumber_field
		></oeb-input>

		<oeb-input
			class="oeb-input-hide-arrows"
			label="{{ 'General.postalCode' | translate }}"
			[control]="issuerForm.rawControlMap.issuer_zip"
			[fieldType]="'number'"
			errorMessage="{{ 'Issuer.enterPostalCode' | translate }}"
			#issuer_zip_field
		></oeb-input>

		<oeb-input
			label="{{ 'General.city' | translate }}"
			[control]="issuerForm.rawControlMap.issuer_city"
			[fieldType]="'text'"
			errorMessage="{{ 'Issuer.enterCity' | translate }}"
			#issuer_city_field
		></oeb-input>

		<div class="u-margin-top3x">
			<form>
				<altcha-widget auto="onfocus" id="altcha"></altcha-widget>
			</form>
		</div>

		<label
			[class.checkbox-is-error]="
				issuerForm.rawControlMap.agreedTerms.dirty && !issuerForm.rawControlMap.agreedTerms.valid
			"
			*ngIf="dataProcessorUrl"
			class="checkbox l-marginBottom-2x"
			for="terms"
		>
			<input name="terms" id="terms" type="checkbox" [formControl]="issuerForm.rawControlMap.agreedTerms" />
			<span class="checkbox-x-text"
				>Ich habe die <a target="_blank" [href]="dataProcessorUrl">Datenschutzrichtlinien</a> gelesen und stimme
				ihnen zu.
				<div
					*ngIf="issuerForm.rawControlMap.agreedTerms.dirty && !issuerForm.rawControlMap.agreedTerms.valid"
					class="checkbox-x-errortext"
				>
					{{ 'Issuer.readPolicy' | translate }}
				</div>
			</span>
		</label>

		<div class="l-flex l-flex-1x u-margin-bottom3x u-margin-top4x">
			<a [routerLink]="['/issuer']" class="button button-secondary" [disabled-when-requesting]="true">{{
				'General.cancel' | translate
			}}</a>
			<button
				type="submit"
				class="button"
				[disabled]="!!addIssuerFinished"
				[loading-promises]="[addIssuerFinished]"
				loading-message="Hinzufügen"
			>
				{{ 'Issuer.createInstitution' | translate }}
			</button>
		</div>
	</form>
</div>
