<form-message></form-message>

<header class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="tw-flex tw-flex-col tw-text-[#492E98] tw-font-black tw-text-5xl tw-font-[rubik]">
			{{ 'General.institutions' | translate }}
			<ng-template [showLoader]="false" [bgAwaitPromises]="[issuersLoaded]">
				<span class="tw-font-normal tw-text-2xl tw-font-[rubik] tw-text-[#000000]">
					{{ issuers.length | i18nPlural: plural['issuerText'] }}
				</span>
			</ng-template>
		</h2>
	</div>
</header>

<div id="main-page">
	<ng-template [showLoader]="true" [bgAwaitPromises]="[issuersLoaded]">
		<section class="l-containerxaxis l-containeryaxis l-responsivelist">
			<div class="tw-flex tw-items-center tw-rounded-lg tw-p-4 tw-bg-[#ECFEED]">
				<div class="tw-flex tw-flex-row tw-gap-4 tw-w-full tw-items-center tw-justify-between">
					<div class="tw-flex tw-flex-row tw-items-center tw-gap-6">
						<div class="tw-flex tw-relative tw-items-center">
							<input
								hlmInput
								class="tw-bg-white tw-border-1 tw-border-[#492E98] tw-min-w-96 tw-border-solid tw-min-h-12 tw-rounded-lg tw-p-2 tw-font-[rubik]"
								placeholder="{{ 'Issuer.searchInstitutions' | translate }}"
								[(ngModel)]="searchQuery"
							/>
							<hlm-icon
								name="lucideSearch"
								class="tw-w-8 tw-h-8 tw-absolute tw-top-1/2 tw-right-2 -tw-translate-y-1/2 tw-pointer-events-none tw-text-[#492E98]"
							></hlm-icon>
						</div>

						<oeb-select
							class="tw-w-[150px] tw-font-[rubik] tw-text-[#323232]"
							[options]="[
								{
									label: 'Schule',
									value: 'schule'
								},
								{
									label: 'Hochschule ',
									value: 'hochschule'
								},
								{
									label: 'Andere ',
									value: 'andere'
								}
							]"
							[control]="categoryControl"
							placeholder="{{ 'Badge.category' | translate }}"
							[autofocus]="true"
							noTopMargin="true"
							ariaLabel="chooseABadgeCategory"
						></oeb-select>
					</div>
					<button hlmBtn size="icon">
						<hlm-icon name="lucideMapPin" size="lg"></hlm-icon>
					</button>
				</div>
			</div>

			<ng-container *ngIf="badgesDisplay == 'grid'">
				<ng-container *ngIf="!groupByCategory">
					<div class="tw-flex tw-justify-between tw-flex-wrap tw-gap-4 tw-w-full">
						<app-institutions-card
							*ngFor="let issuer of issuerResults"
							[issuer]="issuer"
							[plural]="plural"
							(navigate)="navigateToIssuer(issuer)"
						></app-institutions-card>
					</div>
				</ng-container>

				<ng-container *ngIf="groupByCategory">
					<ng-container *ngFor="let issuerGroup of issuerResultsByCategory">
						<h3 class="u-text-h3-semibold u-margin-bottom2x u-margin-top6x u-text-dark1">
							{{ issuerKeys[issuerGroup.category] }}
							<span class="u-text-small-semibold-caps u-text-dark4 u-margin-left2x"
								>{{ issuerGroup.issuers.length }}
								{{ issuerGroup.issuers.length == 1 ? 'Institution' : 'Institutionen' }}</span
							>
						</h3>

						<div class="issuercard" *ngFor="let issuer of issuerGroup.issuers">
							<div class="issuercard-x-image">
								<img
									[loaded-src]="issuer?.image"
									[loading-src]="issuerPlaceholderSrc"
									[error-src]="issuerPlaceholderSrc"
									alt="{{ issuer.name }} avatar"
								/>
							</div>
							<div class="issuercard-x-title">
								<a [routerLink]="['/public/issuers/', issuer.slug]">{{ issuer.name }}</a>
								<!-- <p><strong>Your Role: </strong>{{ issuer.currentUserStaffMember?.roleInfo.label }}</p> -->
							</div>
							<div class="issuercard-x-desc" [truncatedText]="issuer.description" [maxLength]="250"></div>

							<!-- <div class="issuercard-x-topbadges" *ngFor="let issuerBadges of [issuerToBadgeInfo[issuer.issuerUrl]]">
								<h3 class="u-text-body-bold u-text-dark1 u-margin-bottom2x" *ngIf="issuerBadges">Top Badges:</h3>
								<div class="l-flex l-flex-2x l-flex-column"></div>
							</div> -->

							<div class="issuercard-x-footer">
								<div class="l-flex l-flex-aligncenter l-flex-1x">
									<svg
										class="icon icon-light4 u-hidden-maxmobilelarge"
										width="24px"
										icon="icon_badge"
									></svg>
									<p
										*ngIf="issuer.badgeClassCount"
										class="u-text-small u-text-nowrap"
										[innerHTML]="issuer.badgeClassCount | i18nPlural: plural['badges']"
									></p>
								</div>
								<a class="u-text u-text-small" [routerLink]="['/public/issuers/', issuer.slug]">{{
									'Issuer.open' | translate
								}}</a>
							</div>
						</div>
					</ng-container>
				</ng-container>
			</ng-container>

			<ng-container *ngIf="badgesDisplay === 'list'">
				<ng-container *ngIf="!groupByCategory">
					<table
						class="datatable datatable-roundheaders datatable-onlyfirstcolumn datatable-verticalalignmiddle"
					>
						<thead class="datatable-x-head">
							<tr class="datatable-x-header">
								<th class="datatable-x-cell" scope="col">{{ 'Issuer.image' | translate }}</th>
								<th class="datatable-x-cell" scope="col">Institution</th>
								<th class="datatable-x-cell" scope="col">{{ 'Issuer.registeredSince' | translate }}</th>
								<th class="datatable-x-cell" scope="col">
									<span class="visuallyhidden">Actions</span>
								</th>
							</tr>
						</thead>
						<tbody class="datatable-x-body">
							<!-- Issuer title if grouped by issuer -->
							<ng-container *ngFor="let issuer of issuerResults">
								<!-- Badges -->
								<tr class="datatable-x-row">
									<td class="datatable-x-cell">
										<div class="l-flex l-flex-2x l-flex-aligncenter">
											<img
												class="badgeimage badgeimage-small u-margin-right2x l-flex-x-shrink0"
												width="40"
												[loading-src]="badgeLoadingImageUrl"
												[error-src]="badgeFailedImageUrl"
												[loaded-src]="issuer.image"
											/>
										</div>
									</td>
									<td class="datatable-x-cell u-text-body">
										<a class="u-text" [routerLink]="['/public/issuers/', issuer.slug]">{{
											issuer.name
										}}</a>
									</td>
									<td class="datatable-x-cell u-text-body">
										<time [date]="issuer.createdAt" format="mediumDate"></time>
									</td>
									<td class="datatable-x-cell">
										<a
											class="u-text u-text-small"
											[routerLink]="['/public/issuers/', issuer.slug]"
											>{{ 'Issuer.open' | translate }}</a
										>
									</td>
								</tr>
							</ng-container>
						</tbody>
					</table>
				</ng-container>
				<ng-container *ngIf="groupByCategory">
					<table
						class="datatable datatable-roundheaders datatable-onlyfirstcolumn datatable-verticalalignmiddle"
					>
						<thead class="datatable-x-head">
							<tr class="datatable-x-header">
								<th class="datatable-x-cell" scope="col">{{ 'Issuer.image' | translate }}</th>
								<th class="datatable-x-cell" scope="col">Institution</th>
								<th class="datatable-x-cell" scope="col">{{ 'Issuer.registeredSince' | translate }}</th>
								<th class="datatable-x-cell" scope="col">
									<span class="visuallyhidden">Actions</span>
								</th>
							</tr>
						</thead>
						<tbody class="datatable-x-body">
							<!-- Issuer title if grouped by issuer -->
							<ng-template ngFor let-issuerGroup [ngForOf]="issuerResultsByCategory" let-i="index">
								<tr class="datatable-x-row" *ngIf="groupByCategory">
									<th class="datatable-x-inlineheader" scope="row" colspan="4">
										{{ issuerKeys[issuerGroup.category] }}
									</th>
								</tr>

								<ng-container *ngFor="let issuer of issuerGroup.issuers">
									<!-- Badges -->
									<tr class="datatable-x-row">
										<td class="datatable-x-cell">
											<div class="l-flex l-flex-2x l-flex-aligncenter">
												<img
													class="badgeimage badgeimage-small u-margin-right2x l-flex-x-shrink0"
													width="40"
													[loading-src]="badgeLoadingImageUrl"
													[error-src]="badgeFailedImageUrl"
													[loaded-src]="issuer.image"
												/>
											</div>
										</td>
										<td class="datatable-x-cell u-text-body">
											<a class="u-text" [routerLink]="['/public/issuers/', issuer.slug]">{{
												issuer.name
											}}</a>
										</td>
										<td class="datatable-x-cell u-text-body">
											<time [date]="issuer.createdAt" format="mediumDate"></time>
										</td>
										<td class="datatable-x-cell">
											<a
												class="u-text u-text-small"
												[routerLink]="['/public/issuers/', issuer.slug]"
												>{{ 'Issuer.open' | translate }}</a
											>
										</td>
									</tr>
								</ng-container>
							</ng-template>
						</tbody>
					</table>
				</ng-container>
			</ng-container>
		</section>
	</ng-template>
	<div id="mapWrapper" [hidden]="badgesDisplay != 'map'">
		<div id="map" #map></div>
		<div id="map-legend">
			<ul>
				<li>
					<div class="color cluster"></div>
					Cluster
				</li>
				<li>
					<div class="color schule"></div>
					Schule
				</li>
				<li>
					<div class="color hochschule"></div>
					Hochschule
				</li>
				<li>
					<div class="color andere"></div>
					Andere
				</li>
			</ul>
		</div>
	</div>
</div>
