<div class="oeb tw-relative tw-w-full">
    <ng-template [showLoader]="true" [bgAwaitPromises]="[badgesLoaded]">
    <div class="page-padding">
        <div class="oeb-breadcrumbs">
            <bg-breadcrumbs [linkentries]="breadcrumbLinkEntries"> </bg-breadcrumbs>
        </div>
        <form-message></form-message>
    <div class="oeb-section">
        <div class="oeb-headline-container-sm">
            <h1 hlmH1 class="tw-text-purple tw-font-extrabold">{{'Issuer.learningPathHeadline' | translate}}</h1>
        </div>

        <div>
            <h1>Enthaltene Badges</h1>
            <ng-container *ngIf="groupBy == '---'">
                <div class="tw-grid tw-grid-cols-badges tw-gap-16">
                    <!-- TODO: Fix the badgecard link for sharing and routing -->
                    <!-- <bg-badgecard *ngFor="let badge of badgeResults" 
                        [badgeTitle]="badge.name"
                        [badgeImage]="badge.image"
                        [badgeDescription]="badge.description"
                        [badgeSlug]="badge.slug"
                        [issuerTitle]="badge.issuerName ? badge.issuerName : badge.issuer.name"
                        [badgeIssueDate]="badge.createdAt"
                        public="true"
                        [publicUrl]="badge.url"
                        [badgeClass]="true"
                        [issuerSlug]="badge.issuerSlug"
                        [competencies]="badge.extension['extensions:CompetencyExtension']"
                        [checkboxControl]="true"></bg-badgecard> -->
                </div>
            </ng-container>
            <!-- <div 
                [dndList]
                [dndPlaceholder]="placeholder"
                [dndModel]="simpleList[0]">
                <div *ngFor="let item of simpleList[0]"
                    [dndType]="'item'"
                    (dndMoved)="removeItem(item, simpleList[0])"
                    [dndDraggable]
                    [dndObject]="item">{{item.name}}</div>
             </div>

        </div> -->

    </div>
    </div>
    </ng-template>
</div>