<main class="o-container" *bgAwaitPromises="[collectionBadgeLoaded]">
    
	<div class="topbar">
	</div>
	<div class="badgedetail">
		<div class="badgedetail-x-header">
			<h1>{{collectionBadge.name}}</h1>

		</div>
		<div class="badgedetail-x-sidebar">
			<div class="badgedetail-x-sidebarinternal">
				<dl>
					<div class="l-flex l-flex-2x u-padding-top2x border border-top border-light3">
						<div>
							<dt class="u-text-small-bold u-text-dark2">Issued by:</dt>
							<dd class="u-text">
							</dd>
						</div>
					</div>
					<dt
						class="u-text-small-bold u-padding-top2x u-margin-top2x border border-top border-light3 u-text-dark2"
					>
						Issued on:
					</dt>
				</dl>
			</div>
		</div>
		<div class="badgedetail-x-desc">
			<h2 class="u-text-h3-semibold u-margin-bottom2x u-text-dark2 u-hidden-mintablet">Description</h2>
		</div>
		<div class="badgedetail-x-body">
			<h1 style="width: 100%; text-align: center; font-size: 20px; font-weight: bold">Collection Badge</h1>
			<div class="chart-container" style="width: 100%; height: 100%;"> 

            </div>
		</div>
	</div>
</main>
