<div class="topbar">
	<div class="l-containerxaxis topbar-x-wrap">
		<h2 class="topbar-x-heading">FAQ</h2>
	</div>
</div>
<div class="l-containerxaxis l-containeryaxis">
	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>1. Can badges only be distributed and used in the school context?</h2>
		<div class="formsection-x-body">
			<p i18n>
				"MINT-O-Badges" can be used across institutions: both in a formal school context
				also outside. It therefore offers the potential to be a bridge between formal, non-formal, and
				to build informal educational institutions and to make them more interconnected in the sense of networking
				connect. This is important because learning in the sense of lifelong and networked learning occurs everywhere
				takes place. Important skills are also acquired in informal areas, which are needed in the spirit of the future
				Skills can be of great importance.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>2. Which level (A1 to C2) of the badges describes which level?</h2>
		<div class="formsection-x-body" i18n>
			<p>
				The awarding of badges is based on the level of independence and the level of complexity
				Skill. We are guided by the 6 competency levels of Digcomp Edu.
			</p>
			<br />
			<ul>
				<li>
					<b>A1:</b> Beginner - Initial knowledge has been acquired but cannot yet be applied
					become.
				</li>
				<li>
					<b>A2:</b> Explorer - Basic knowledge and skills are available with which
					Further knowledge can be acquired in a self-directed manner. This can be used in standard situations
					but it is not enough to be able to solve unexpected problems independently.
				</li>
				<li>
					<b>B1:</b> Insiders - Acquired knowledge and skills can be applied to unknown people
					Situations are transferred.
				</li>
				<li>
					<b>B2:</b> Expert - The knowledge is used to understand connections and possible alternatives
					recognize. In addition, there is the competence to independently acquire and develop additional knowledge
					Sharing knowledge (digitally).
				</li>
				<li>
					<b>C1:</b> Leader - The developed knowledge and skills are based on
					Experiences used and applied innovatively.
				</li>
				<li>
					<b>C2:</b> Pioneer - Through the acquired skills you can develop your own skills and
					New definitions are carried out and existing procedures are critically examined.
				</li>
			</ul>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>
			3. Why are badges with a six-point scale used here and not traditional school grades?
		</h2>
		<div class="formsection-x-body" i18n>
			<p>
				“MINT-O-Badges” are based on the portfolio approach in their pedagogical and didactic concept
				This makes the documentation of the learner's achievements much more appropriate. The connection of the
				Portfolio approach with the concept of Open Badges makes it possible to create a documentation system
				where teachers and learners get the most comprehensive possible experience using authentic evidence and work
				Gain a picture of the learner's acquired skills, progress and development
				motivating and encouraging for the individual. Traditionally existing grading systems in
				School contexts, on the other hand, have a strong classifying effect and are generalizing in many aspects
				Individuals' learning achievements are not sufficiently adequate and often have a demotivating effect.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>
			4. As an issuer, do I have to install my own infrastructure to issue badges?
		</h2>
		<div class="formsection-x-body" i18n>
			<p>
				No. The “MINT-O-Badges” platform offers the service for educational organizations (issuers) that they
				Create and award badges without having to install any software yourself. The login takes place
				via the access data.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>
			5. How is it ensured that an issuer really belongs to the specified organization?
		</h2>
		<div class="formsection-x-body" i18n>
			<p>
				Currently, access as an issuer is only granted by invitation. This increases trustworthiness
				the issuer ensures.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>
			6. How are the badges transferred from the issuer to the learners? What data must/am I allowed to use?
			Raise organization from learners?
		</h2>
		<div class="formsection-x-body" i18n>
			<p>
				Data protection has the highest priority, which is why data is saved as much as possible. The issuer requires from
				the learner only receives an email address. The badges are saved to this email address.
			</p>
		</div>
	</div>

	<div class="formsection formsection-nohelp u-margin-bottom4x">
		<h2 class="formsection-x-title" i18n>7. Where are the badges?</h2>
		<div class="formsection-x-body" i18n>
			<p>
				The badges are currently in a database at the University of Münster. The plan is to expand the
				Project and further development of the MVP to find a suitable place for this at any time
				ensures free access for learners and the ongoing and secure preservation and storage of the
				Badges guaranteed.
			</p>
		</div>
	</div>
</div>
