<main>
	<form-message></form-message>
	<header class="l-containerxaxis topbar">
		<h3 class="topbar-x-heading" i18n>Create collection</h3>
		<p class="topbar-x-subheading" i18n>Organize your badges into collections.</p>
	</header>

	<div class="l-containerxaxis u-margin-yaxis3x u-width-formsmall">
		<form [formGroup]="badgeCollectionForm.rawControl" (ngSubmit)="onSubmit(badgeCollectionForm.value)" novalidate>
			<fieldset aria-labelledby="heading-add-badge-collection" role="group">
				<legend class="visuallyhidden" id="heading-add-badge-collection" i18n>Create collection</legend>
				<bg-formfield-text
					[control]="badgeCollectionForm.rawControlMap.collectionName"
					[label]="'Name of collections'"
					[maxchar]="128"
					[errorMessage]="{ required: 'Please enter a name for the collection' }"
					[autofocus]="true"
					[sublabel]="' remaining characters'"
				></bg-formfield-text>

				<div class="u-margin-top2x">
					<bg-formfield-text
						[control]="badgeCollectionForm.rawControlMap.collectionDescription"
						[label]="'Description'"
						[errorMessage]="{ required: 'Please provide a description' }"
						[maxchar]="255"
						[multiline]="true"
						[sublabel]="' remaining characters'"
					></bg-formfield-text>
				</div>

				<div class="l-flex l-flex-1x l-flex-justifyend u-margin-top2x">
					<a
						[routerLink]="['/recipient/badge-collections']"
						class="button button-secondary"
						[disabled-when-requesting]="true"
						i18n
						>Cancel</a
					>

					<button
						type="submit"
						class="button"
						[disabled]="!!createCollectionPromise"
						[loading-promises]="[createCollectionPromise]"
						loading-message="Add"
						i18n
					>
						Create collection
					</button>
				</div>
			</fieldset>
		</form>
	</div>
</main>
