<form (ngSubmit)="onSubmit()" class="oeb-max-form-width tw-mt-6" novalidate>
	<bg-formfield-image
		#imageField
		label="{{ 'Issuer.imageLogo' | translate }}"
		sublabelRight="{{ 'Issuer.imageFormat' | translate }}"
		imageLoaderName="issuer"
		[text_body]="selectFromMyFiles"
		dropZoneInfo1="Drag & Drop"
		[dropZoneInfo3]="useImageFormat"
		[placeholderImage]="issuerImagePlacholderUrl"
		[control]="networkForm.rawControlMap.image"
		[allowedFileFormats]="['image/png', 'image/svg+xml']"
		[errorMessage]="imageError"
		(imageError)="onImageError($event)"
		[enableIconSearch]="false"
		[maxSizeInMB]="2"
		[labelStyle]="'forminput-x-label u-margin-bottom1x'"
	></bg-formfield-image>
	<span class="tw-text-oebblack tw-italic tw-text-lg"
		>{{ 'General.fileformats' | translate }}: SVG {{ 'General.and' | translate }} PNG</span
	>

	<oeb-input
		label="{{ 'Network.name' | translate }}"
		[control]="networkForm.rawControlMap.name"
		[placeholder]="'Netzwerk MINT'"
		[fieldType]="'text'"
		[autofocus]="true"
		[errorMessage]="{ required: networkRequiredError }"
		sublabelRight="(max. 90 {{ 'General.characters' | translate }})"
		#issuer_name_field
	></oeb-input>

	<oeb-input
		label="{{ 'CreateBadge.shortDescription' | translate }}"
		[control]="networkForm.rawControlMap.description"
		[fieldType]="'textarea'"
		[errorMessage]="{ required: enterDescription }"
		sublabelRight="(min. 200 / max. 300 {{ 'General.characters' | translate }})"
	></oeb-input>

	<section class="tw-flex md:tw-flex-row tw-flex-col tw-w-full tw-gap-2 md:tw-justify-between">
		<oeb-select
			class="md:tw-min-w-[288px]"
			[control]="networkForm.rawControlMap.country"
			label="{{ 'General.country' | translate }}"
			placeholder="{{ 'General.select' | translate }}"
			[options]="_countriesOptions"
			#networkCountry
		>
		</oeb-select>
		<oeb-select
			class="md:tw-min-w-[288px]"
			[control]="networkForm.rawControlMap.state"
			label="{{ 'General.state' | translate }}"
			placeholder="{{ 'General.select' | translate }}"
			[options]="_germanStateOptions"
			[disabled]="networkForm.rawControlMap.country.value != 'Germany'"
			#networkState
		>
		</oeb-select>
	</section>

	<oeb-input
		label="{{ 'Issuer.websiteUrl' | translate }}"
		[control]="networkForm.rawControlMap.url"
		[urlField]="true"
		[placeholder]="'www.netzwerk-mint.de'"
		[fieldType]="'url'"
		errorMessage="{{ 'Issuer.enterURL' | translate }}"
		#issuer_url_field
	></oeb-input>

	<span class="tw-text-purple tw-text-lg tw-italic">{{ 'Network.addPartnerNext' | translate }}</span>

	<div class="tw-flex tw-justify-between tw-flex-wrap sm:tw-flex-nowrap tw-gap-2 tw-mt-4">
		<oeb-button
			type="button"
			class="tw-mr-4"
			variant="secondary"
			[routerLink]="['/issuer']"
			[disabled-when-requesting]="true"
			text="{{ 'General.cancel' | translate }}"
		></oeb-button>

		<oeb-button
			type="submit"
			width="max_content"
			[disabled]="!!addNetworkFinished"
			text="{{ existingNetwork ? ('General.save' | translate) : ('Network.create' | translate) }}"
			[loading-promises]="[addNetworkFinished]"
			loading-message="Hinzufügen"
		>
		</oeb-button>
	</div>
</form>
